[2016-10-30 18:40] SuperAlecs commented on #292
ok don't worry thanks for your help

[2016-10-30 19:48] Sandertv commented on #285
This has been fixed in my pull request, please take a look at it.

[2016-10-30 20:09] Sandertv commented on #281
EssentialsPE does not always support forks from PocketMine, and might have compatibility issues.

[2016-10-30 20:11] Sandertv commented on #293
If you can't get it I'll investigate myself.

[2016-11-01 06:34] Sandertv commented on #287
^
For example, essentials.warps.testwarp

[2016-11-01 20:47] Sandertv commented on #286
I've fixed this in the pull request I made. Try using that version.

[2016-11-04 21:12] Sandertv commented on #296
Fixed in latest pull request

[2016-11-04 21:12] #296 closed

[2016-11-04 21:12] Sandertv commented on #294
Could you please tell me if this error still happens in the latest version? Thanks!

[2016-11-04 21:14] #290 closed

[2016-11-04 21:14] Sandertv commented on #290
Should be fixed now.

[2016-11-04 21:14] #289 closed

[2016-11-04 21:15] Sandertv commented on #288
Tell me if you really need a plugin for it and I'll see if I can find some time for you.

[2016-11-04 21:15] #288 closed

[2016-11-04 21:15] #286 closed

[2016-11-04 21:16] Sandertv commented on #287
The comment from GlacierShard is right.

[2016-11-04 21:16] #287 closed

[2016-11-04 21:16] #285 closed

[2016-11-04 21:16] Sandertv commented on #283
Currently investigating.

[2016-11-04 21:17] Sandertv commented on #282
Working on this, give me some time.

[2016-11-04 21:17] #280 closed

[2016-11-04 21:17] #281 closed

[2016-11-04 21:18] Sandertv commented on #279
Currently no support, it might be added in the future, thanks for your comment.

[2016-11-04 21:18] #279 closed

[2016-11-04 21:19] #278 closed

[2016-11-04 21:19] #277 closed

[2016-11-04 21:19] Sandertv commented on #276
Should be fixed now.

[2016-11-04 21:19] #276 closed

[2016-11-04 21:20] #275 closed

[2016-11-04 21:22] Sandertv commented on #241
If this really forms an issue I'll look into this.

[2016-11-04 21:22] #241 closed

[2016-11-04 21:22] Sandertv commented on #234
Aware of this problem and looking for a fix.

[2016-11-04 21:23] #282 closed

[2016-11-04 21:23] Sandertv commented on #232
This has been fixed.

[2016-11-04 21:23] #232 closed

[2016-11-04 21:24] Sandertv commented on #211
Duplicate of other issues.

[2016-11-04 21:25] #211 closed

[2016-11-04 21:26] Sandertv commented on #91
Server softwares are implementing this.

[2016-11-04 21:26] #91 closed

[2016-11-04 21:58] Sandertv commented on #273
Sorry for EssentialsPE not supporting ClearSky. I do not know what the problem is.

[2016-11-04 21:58] #273 closed

[2016-11-04 21:59] flaxues commented on #294
He has an really old version.

[2016-11-04 22:00] Sandertv commented on #294
Yeah that's what I was thinking. There isn't any code at line 106.

[2016-11-04 22:02] #294 closed

[2016-11-05 03:08] Aericio commented on #273
Oh, EssentialsPE works for ClearSky now.

[2016-11-05 06:50] Sandertv commented on #273
It does? Well that's awesome!

[2016-11-05 07:36] Sandertv commented on #293
This seems to have magically fixed itself. I can't manage to reproduce it.

[2016-11-05 07:36] #293 closed

[2016-11-05 07:37] Sandertv commented on #292
I understand what you mean now completely, and I think your problem started since 0.16 no?

[2016-11-05 07:38] Sandertv commented on #263
Well @iksaku it's still assigned to you. :P

[2016-11-05 08:20] SuperAlecs commented on #292
No it started on 0.15 no in 0.16

[2016-11-05 15:00] SuperDude36 opened #297 "More /repair Bugs"
#### Description
It says the error below and it disables EssentialsPE.

#### Versions
* EssentialsPE: v2.0.0
* Game version: PE/W10

#### Crashdump or console errors
[07:53:17] [Server thread/CRITICAL]: ParseError: "syntax error, unexpected '{'" (EXCEPTION) in "/EssentialsPE-master/src/EssentialsPE/Commands/Repair" at line 33

[2016-11-05 15:01] Sandertv commented on #297
Oh my god, that's really bad of me, sorry.

[2016-11-05 15:02] Sandertv commented on #297
Sorry for that, it's fixed.

[2016-11-05 15:02] #297 closed

[2016-11-05 15:29] SuperDude36 commented on #297
I think it works. Im just trying to get on my server (aka crashing 24/7)

[2016-11-06 14:00] Infernus102 commented on #234
still not fixed

[2016-11-06 14:01] Sandertv commented on #234
I know, didn't find out what the problem is yet.

[2016-11-06 16:11] Sandertv commented on #234
I think I found out... Let me try to test if that is the problem.

[2016-11-06 17:26] Muqsit commented on #292
@SuperAlecs as of pmmp/gen 0.16, you will need to add `$player->sendCommandData()`
under PlayerJoinEvent in your permission-based plugin (eg: PurePerms).

[2016-11-06 17:31] Sandertv commented on #292
That's what I was thinking, but he said it started in 0.15?

[2016-11-06 17:38] Muqsit commented on #292
well, I have had no problems in 0.15 :/

[2016-11-06 17:51] Sandertv commented on #292
Same here though, I'm not exactly sure of it.

[2016-11-06 18:07] Sandertv commented on #261
Might just improve the Wiki if I feel like it.

[2016-11-06 18:07] #261 closed

[2016-11-06 18:07] Sandertv commented on #233
I might update the wiki sometime soon if it's still needed.

[2016-11-06 18:07] #233 closed

[2016-11-06 18:08] #207 closed

[2016-11-07 14:12] Sandertv commented on #283
Does anybody else experience this issue in the latest version? It doesn't happen to me.

[2016-11-07 14:14] Sandertv commented on #216
This works alright in PHP7

[2016-11-07 14:14] #216 closed

[2016-11-08 07:01] Sandertv commented on #260
I'll add this fairly soon, it's quite easy to do actually.

[2016-11-08 08:12] Sandertv commented on #260
Added the option to do disable various parts, feel free to try it out and tell me if it works.

[2016-11-08 08:12] #260 closed

[2016-11-08 08:46] Sandertv commented on #283
It seems you've been using a very old version of EssentialsPE, this doesn't happen in the newer versions anymore.

[2016-11-08 08:46] #283 closed

[2016-11-09 02:31] WiliRodin opened #298 "CRITICAL ERROR"
08.11 18:21:40 [Server] Server thread/INFO Disabling EssentialsPE v2.0.0
08.11 18:21:40 [Server] Server thread/CRITICAL Error: "Call to a member function getName() on array" (EXCEPTION) in "/EssentialsPE.phar/src/EssentialsPE/Loader" at line 243
08.11 18:21:40 [Server] Server thread/INFO [EssentialsPE] Loading...
08.11 18:21:40 [Server] Server thread/INFO Enabling EssentialsPE v2.0.0

[2016-11-09 02:55] NoHaxJustTryHqrd opened #299 "TEST YOUR FUCKING CODE BEFORE COMMITTING"

[2016-11-09 02:57] NoHaxJustTryHqrd commented on #299
LIKE SERIOUSLY COME ON

[2016-11-09 02:58] NoHaxJustTryHqrd commented on #299
An Issue That is currently happening shouldve never passed and be pushed to the repo

[2016-11-09 03:03] NoHaxJustTryHqrd commented on #299
This is by far the dumbest mistake ever made.

[2016-11-09 03:04] #299 closed

[2016-11-09 06:18] Sandertv commented on #299
What is it then? Sorry.

[2016-11-09 06:18] Sandertv commented on #298
Sorry for that, I'll fix it quickly.

[2016-11-09 06:21] Sandertv commented on #263
😂😂😂

[2016-11-09 06:22] Sandertv commented on #298
Has been fixed, sorry for inconvenience.

[2016-11-09 06:32] Sandertv commented on #299
It has been fixed. Lower your temper next time and nobody's told you that the patest version on github is stable. This is what the release tab is for.

[2016-11-09 06:32] #298 closed

[2016-11-09 13:58] WiliRodin opened #300 "Other Error"
09.11 05:54:37 [Server] Server thread/CRITICAL ParseError: "syntax error, unexpected 'new' (T_NEW), expecting ']'" (EXCEPTION) in "/EssentialsPE.phar/src/EssentialsPE/Loader" at line 210
09.11 05:54:37 [Server] Server thread/CRITICAL Unhandled exception executing command 'reload' in reload: syntax error, unexpected 'new' (T_NEW), expecting ']'
09.11 05:54:37 [Server] Server thread/INFO An unknown

[2016-11-09 14:25] Sandertv commented on #300
I already fixed this, try the newest version.

[2016-11-09 14:26] #300 closed

[2016-11-09 15:13] Akuroma opened #301 "Players can't join"
#### Description
Hello. I've got the problem, that players can't join on my server. And I think it's Essential's fault. I've deinstalled it and other people could join. Im using the latest ClearSky-Version as my Server-Jar. I've tried both. An older version of Essentials and the newest one. But everytime it failed. Players who wan't to join my server, are kicked with the console-reason "timeout".

[2016-11-09 15:20] Sandertv commented on #301
Hi! Could you tell me what server software you use? It's known to have issues with ClearSky sometimes.

[2016-11-09 15:25] Akuroma commented on #301
Thank you very much. Could you contact me if it is done? :)

[2016-11-09 15:26] Sandertv commented on #301
Sure! I'm not 100% sure if I can manage to find out what the issue exactly is, but I'll try my best.

[2016-11-09 15:29] Akuroma commented on #301
This is nice of you ;) Thank you very much :D

[2016-11-11 19:24] Sandertv commented on #263
@iksaku Could you tell me what has yet have to be done for the economy features? Because I'm not sure where to continue.

[2016-11-14 16:53] Sandertv commented on #229
It does work currently

[2016-11-14 16:53] #229 closed

[2016-11-14 17:38] Sandertv commented on #234
It should be fixed. I do not recommend updating yet, I'll test it first.

[2016-11-15 11:06] Sandertv commented on #301
It seems that PMMP users seem to experience this issue too. Could anyone try to reproduce this isue with PMMP?

[2016-11-15 15:05] Sandertv commented on #301
@Akuroma the latest version might have fixed it, try it out.

[2016-11-15 15:09] Akuroma commented on #301
I'll try it.

[2016-11-15 15:14] Akuroma commented on #301
Still doesn't work with ClearSky 0.16

[2016-11-15 15:15] Sandertv commented on #301
Dang...

[2016-11-17 07:56] Sandertv commented on #224
Shops and sell posts are being worked on.

[2016-11-18 21:17] Sandertv commented on #158
I've added the option to disable/enable parts of the plugin.

[2016-11-18 21:17] #158 closed

[2016-11-18 21:18] Sandertv commented on #172
Economy has been almost fully implemented, and I'll try to add prices for the special signs soon.

[2016-11-18 21:18] Sandertv commented on #178
This error is no longer there in the latest versions.

[2016-11-18 21:18] #178 closed

[2016-11-18 21:19] Sandertv commented on #224
Buy and sell signs have been implemented.

[2016-11-18 21:19] #224 closed

[2016-11-19 22:39] Andrew1481432 opened #307 "Tpahere no correct work"
the command tpahere works as a tpa

[2016-11-19 22:46] Andrew1481432 opened #308 "command near does not work"
command near does not work

[2016-11-19 22:47] Andrew1481432 commented on #308
command near does not work

[2016-11-20 00:27] andris155 opened #309 "/msg + /m commands not work"
#### Description

/msg + /m not work

#### Versions
* Server software: https://github.com/iTXTech/Genisys/tree/55ae11e5acf93b753129343a3888cd4cf007da05
* EssentialsPE: https://github.com/LegendOfMCPE/EssentialsPE/tree/33623687658fcb8714cedb2bf95b62fb7fcbcdef
* Game version: W10

#### Crashdump or console errors

![kepkivagas](https://cloud.githubusercontent.com/assets/8324198/20459407/84c5ab62-aec

[2016-11-20 00:56] andris155 commented on #309
EssentialsPE 1.1.3 - works this commands

[2016-11-20 06:38] Sandertv commented on #307
Yeah I'm aware of this, I'm still searching what's causing it.

[2016-11-20 06:39] Sandertv commented on #308
What does it say then? Any errors in console?

[2016-11-20 06:40] Sandertv commented on #309
Try putting a dot in front of the command. A bunch of commands don't work correctly since 0.16, it's a server software thing. Try doing this:
./msg <player> <message>

[2016-11-20 06:40] #309 closed

[2016-11-20 06:41] #307 closed

[2016-11-20 06:41] Sandertv commented on #307
This has been reported already in a different issue.

[2016-11-20 08:56] Infernus102 commented on #234
did you test it?

[2016-11-20 08:59] Sandertv commented on #234
Yeah it didn't fix it yet. I think I found out what the problem is, I just have to find a clever way to fix it.

[2016-11-20 08:59] Sandertv commented on #234
You could update though, /tpa works good now, just /tpahere is reversed now.

[2016-11-20 09:21] Infernus102 commented on #234
Why is this so hard? Even experts cant solve this?

[2016-11-20 09:45] Sandertv commented on #234
The way you get the information whether it is a tphere or tpa request is hard to obtain if you don't know who the sender was when doing /tpaccept. It's saved in a way you need the requester's name to find out what the request was. So I have to find a good way for it.

[2016-11-20 09:48] Sandertv commented on #234
I think it might in fact work right if you would add the name of the requester in your tpaccept, for example:
/tpaccept steve

[2016-11-20 09:54] Infernus102 commented on #234
But that would be boring

[2016-11-20 09:59] Sandertv commented on #234
Yep, that's why I still have to find a good way to fix it.

[2016-11-20 11:50] Sandertv commented on #234
Could you try it with the latest commit? It might work.

[2016-11-20 11:56] Infernus102 commented on #234
i am working on something else, sorry :( will take me some time!

[2016-11-20 12:28] Andrew1481432 opened #310 "error mute"
[Server thread/CRITICAL]: Error: "Call to undefined method EssentialsPE\Loader::switchMute()" (EXCEPTION) in "/EssentialsPE_v1.phar/src/EssentialsPE/Commands/Mute" at line 46

[2016-11-20 13:05] andris155 opened #311 "Sign exploit essentials.sign.use grants essentials.sign.create permission"
#### Description

Example:  essentials.sign.use.free permission allow sign use, and create. Works all sign use permission.

#### Versions
* Server software: https://github.com/iTXTech/Genisys/tree/55ae11e5acf93b753129343a3888cd4cf007da05
* EssentialsPE: https://github.com/LegendOfMCPE/EssentialsPE/tree/33623687658fcb8714cedb2bf95b62fb7fcbcdef + EssentialsPE 1.1.3
* Game version: W10/PE

[2016-11-20 15:28] Andrew1481432 commented on #308
when near must be pishish inscription ** There are no players near to ". $ who. TextFormat :: GRAY."! ** And there usage: / near <player>

[2016-11-20 15:31] Andrew1481432 commented on #307
did not know.

[2016-11-20 15:47] Sandertv commented on #310
Thanks for reporting, I'll fix that.

[2016-11-20 15:48] Sandertv commented on #308
Well are there any players near you?

[2016-11-20 15:48] Sandertv commented on #311
That's weird. Let me see...

[2016-11-20 15:51] Sandertv commented on #311
Are you sure you didn't give the player the permission essentials.sign?

[2016-11-20 15:56] Sandertv commented on #310
You're using a very outdated version, EssentialsPE isn't version 1 for a long time anymore. That could explain /near not working too. Please do not just delete the whole issue template. It's there for a reason.

[2016-11-20 15:56] #310 closed

[2016-11-20 15:57] Andrew1481432 commented on #308
no

[2016-11-20 15:58] Sandertv commented on #308
It won't do anything if there are no players nearby...

[2016-11-20 16:01] Andrew1481432 commented on #308
I understand :)

[2016-11-20 20:47] #308 closed

[2016-11-21 13:27] andris155 commented on #309
EssentialsPE 1.1.3 + 0.16 Genisys - works /msg, /t, /m.
Why is it server szoftver thing?

[2016-11-21 13:29] andris155 commented on #311
Yes

[2016-11-21 13:30] Sandertv commented on #311
I got to investigate this, give me some time.

[2016-11-21 13:31] Sandertv commented on #309
Just relog with version 2.0.0 and those commands would work too. It is not within my power to fix this, as it is a MCPE => server software bug. Not just EssentialsPE has that problem in 0.16, a lot of plugins do.

[2016-11-22 21:24] poustmal opened #313 "Only ops can use warp command and warp signs"
#### Versions
* Server software:Genisys
* EssentialsPE:latest.I updated today.
* Game version: PE/W10
Non-op players can't use warp command or warp signs:it says [Error] You can't teleport to that warp.
I changed in plugin.yml some permissions.I set them to true e.g.warp,warp.use etc. but I'm having again the same problem.please fix it,I want this plugin.

#### Crashdump or console errors:nothing

[2016-11-23 06:09] Sandertv commented on #313
This is intended. Just give the players essentials.warps.use.* to use all warps, or essentials.warps.use. <warpname> to just let them teleport to one warp.

[2016-11-23 06:09] #313 closed

[2016-11-23 09:57] poustmal commented on #313
I have done this but it didnt work

[2016-11-23 09:58] poustmal commented on #313
Maybe I should add warp permissions to my groups?Or no

[2016-11-23 14:29] Sandertv commented on #313
Warp signs need the permission `essentials.sign.use.warp` too.

[2016-11-23 15:38] poustmal commented on #313
I will try again.

[2016-11-25 21:13] poustmal opened #314 "Close the issue after answer my question"
Pls send me a correct plugin.yml with warp.use true permission I tried to set all the permissions I needed,but it gives me the same message:[Error] You can't use that warp.Don't tell me you must accept the rules,pls I want this plugin with correct perms.I want to fix my problems in my server and I can't.

[2016-11-25 21:20] Sandertv commented on #314
The correct permissions are not located in the plugin.yml. These permissions are required:
`essentials.warp.use`
`essentials.warps.*` to give permission to use all warps, or `essentials.warps.<warpname>` for a specific warp.

[2016-11-25 21:20] #314 closed

[2016-11-26 08:54] Sandertv commented on #234
Any results yet @Infernus102 or someone else?

[2016-11-26 17:59] SoyPro commented on #172
ok @Sandertv, and update essentialspe i would lile to use it

[2016-11-26 18:46] SoyPro opened #315 "Put me under how to put on a sign buy and sell"
#### Description
Buy and sell signs how to use, put under how to put on a sign, thanks

#### Versions
* Server software:
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2016-11-26 21:25] Sandertv commented on #172
It's implemented and added in the latest commit.

[2016-11-26 21:25] #172 closed

[2016-11-26 21:25] Sandertv commented on #315
It's on the wiki page at special signs.

[2016-11-26 21:34] #315 closed

[2016-11-27 06:47] SOF3 commented on #172
@Sandertv it would be great if you specify exactly which commit when you close an issue.

It would even be better if you put in your commit message (title or body) "Fixes #172", such that GitHub would [automatically close the mentioned issue](https://help.github.com/articles/closing-issues-via-commit-messages/) as the commit is pushed to the default branch (master).

[2016-11-27 07:18] Sandertv commented on #172
Yeah true, I just forgot this issue/request was still open.

[2016-11-27 11:50] Infernus102 commented on #234
can't confirm, i made my own /tpa and /tpahere

[2016-11-27 11:50] Sandertv commented on #234
Ah okay, I'll try and check myself.

[2016-11-27 14:20] Sandertv commented on #234
It seems in fact that it is all working! After like a year of this not working I finally fixed it!

[2016-11-27 14:21] Sandertv commented on #234
It works as of this commit: 2e5394d2b942193ee694455fdb8fcf6bdcd16b72

[2016-11-27 14:21] #234 closed

[2016-11-27 14:23] Sandertv commented on #292
I can't reproduce this, it all works the way it's supposed to...

[2016-11-27 14:25] Sandertv commented on #195
I don't think this is still an issue right now. Correct me if I'm wrong.

[2016-11-27 14:25] #195 closed

[2016-11-27 15:14] Muqsit commented on #292
same

[2016-11-27 16:30] SOF3 commented on #292
PMMP version and other plugins you are using?

@Sandertv what's the difference between Probably Bug and Unconfirmed...

Using `/EssentialsPE:gm` works?

[2016-11-27 16:38] Sandertv commented on #292
They were both not made by me @SOF3, that's why I added both the tags.

[2016-11-27 18:34] Infernus102 commented on #234
**SanderFTW** 👍

[2016-11-30 05:18] SuperDude36 opened #316 "Fix Bug"
#### Description
When I do /fix alone (not doing /fix hand or /fix all) it gives me this: "/Server/plugins/EssentialsPE-master/src/EssentialsPE/Commands/Repair.php on line 36" When I do "/fix hand" it says successfully fixed but it doesn't fix
#### Versions
* Server software: Elywing
* EssentialsPE: idk
* Game version: PE/W10

#### Crashdump or console errors
/Server/plugins/EssentialsPE-master/sr

[2016-11-30 06:20] Sandertv commented on #316
Putting down EssentialsPE version 'idk' is not valid. I fixed this in a commit quite some time ago, so try to use the latest version. If you use repair hand and it seems like it does nothing, just tap the ground with the item and it will be repaired. The item just needs an update.

[2016-11-30 15:02] Sandertv commented on #316
If you're experiencing this on the latest build, please change the version to the commit and notify me.

[2016-11-30 15:02] #316 closed

[2016-12-05 06:36] Sandertv commented on #301
I'm afraid I really can't do anything about this.

[2016-12-05 11:32] SOF3 commented on #301
ClearSky should not be supported by EssentialsPE...

[2016-12-05 12:01] Sandertv commented on #301
@SOF3 I'm not planning to do any behaviour changing things to get just ClearSky working. I myself of course always go for PM support, but I'm going to be standing aside from this and add support for every PM based software possible if it doesn't change the behaviour of it on PM. (and if I find out what is the issue at all)

[2016-12-05 12:02] Sandertv commented on #301
Too many people use PocketMine spoons right now to not support those.

[2016-12-05 12:46] SOF3 commented on #301
@Sandertv good luck. I hope that by the time you finish them, the spoons have not all died away yet :)

[2016-12-05 12:47] Sandertv commented on #301
Stress the world possible. ^^

[2016-12-05 13:51] HimbeersaftLP commented on #301
**yet** :P

[2016-12-05 22:56] Tolo0 opened #317 "Home's Reset"
I have no idea how this is happening but iv had alot of player's complain that after a server reboot there homes have been reset. 😕

[2016-12-06 06:01] Sandertv commented on #317
Could you please fill in the issue format next time? It's not there to just delete. What server software do you use? Do you have any PC / ported worlds?

[2016-12-06 06:29] Sandertv commented on #317
It's got to do with a missing permission it seems like. Do you have the latest version?

[2016-12-06 09:17] Akuroma commented on #317
I've also had the same issue. But now it works for me. Don't know what happened but now it works without an update.

[2016-12-07 18:41] caspervanneck opened #318 "bug with economy"
#### Description

#### Versions
* Server software: pocketmine-mp
* EssentialsPE: v2.0.0
* Game version: PE/W10

#### Crashdump or console errors

 [Server thread/CRITICAL]: Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Return value of EssentialsPE\BaseFiles\BaseAPI::hasPlayerBalance() must be of the type boolean, none returned on EssentialsPE\EventHan

[2016-12-07 18:44] Sandertv commented on #318
Try it with the new version. It should work.

[2016-12-07 18:51] caspervanneck commented on #318
i try

[2016-12-07 18:51] #318 closed

[2016-12-07 18:55] caspervanneck commented on #318
fixt @Sandertv thank you (;

[2016-12-07 19:11] Sandertv commented on #318
Alright! Awesome.

[2016-12-07 20:49] Sandertv commented on #317
I must say I had the same issue some time ago, but I can't seem to reproduce this anymore. Is anybody else able to?

[2016-12-10 02:07] SuperDude36 opened #319 "Float Issue"
#### Description
When I turn the server on it has an error.
#### Versions
* Server software: 1.9.1
* EssentialsPE: 1.1.3
* Game version: PE/W10

#### Crashdump or console errors
Fatal error: Cannot use pocketmine\nbt\tag\Float as Float because 'Float' is a special class name in phar:///Users/superserver/ServerEssTest/plugins/EssentialsPE_v1.1.3.phar/src/EssentialsPE/Loader.php on line 106

[2016-12-10 04:39] SOF3 commented on #319
You're using an outdated version.

We have always been telling users not to use plugins of incompatible API version...

[2016-12-10 04:39] #319 closed

[2016-12-10 05:04] SuperDude36 commented on #319
It's the newest one on releases page.

[2016-12-10 07:47] Sandertv commented on #319
You should click the link `Get the latest development build HERE` at the main page.

[2016-12-10 08:11] SOF3 commented on #319
@Sandertv development build and release are different...

[2016-12-10 08:37] Sandertv commented on #319
Changed 👍

[2016-12-10 20:48] SuperDude36 opened #320 "Fix Hand doesn't work"
#### Description
If you do /fix hand nothing happens besides the message. /Fix all works
#### Versions
* Server software: 1.9.1
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[2016-12-10 20:58] Sandertv commented on #320
This is just a visual bug. Try tapping the ground to update the item and it should be fixed.

[2016-12-10 20:58] #320 closed

[2016-12-10 21:04] Sandertv commented on #317
@Tolo0 Because you didn't provide the essentialsPE version I can't do anything. Could you tell me the version?

[2016-12-11 01:53] jasonwynn10 commented on #301
THE ISSUE IS WITH NICKNAMES!!! Delete the players nicknames in their configs!

[2016-12-11 07:01] Aericio commented on #318
@Sandertv Sorry if its not on topic with the issue, but is the API for economy the same in the wiki?

[2016-12-11 07:10] Sandertv commented on #301
That's odd... Thanks a hell of a lot for telling us @jasonwynn10, I'll see if I can fix it.

[2016-12-11 07:11] Sandertv commented on #318
Yep it is @Aericio...

[2016-12-13 22:46] EradiaPE commented on #301
Please update :(

[2016-12-14 06:23] Sandertv commented on #301
It should work just fine...

[2016-12-14 16:05] jasonwynn10 commented on #301
This issue occurs on my server too. When I looked at those players configs, only the nicknames looked out of place

[2016-12-14 16:12] Sandertv commented on #301
Do use ClearSky @jasonwynn10 ?

[2016-12-14 18:41] jasonwynn10 commented on #301
I use pmmp PocketMine

[2016-12-14 19:01] Sandertv commented on #301
Hmmm... When I tested this on PocketMine it worked just fine. That's odd.

[2016-12-19 03:25] AppleDevelops opened #321 "Multiworld Homes"
#### Description

Homes are not multiworld, and I think it would be a good feature to teleport the players to their homes if they are in a different world. If it is possible could it be taken into consideration and added?
#### Versions
* Server software: Genisys + Tesseract
* EssentialsPE: https://github.com/LegendOfMCPE/EssentialsPE/commit/1142bf8976e57ee55f8b380c469e54a2723b5e85
* Game version:

[2016-12-19 06:35] Sandertv commented on #321
I think multiworld homes are there in fact, but it might not work if the level is loaded. I'll look into it.

[2016-12-19 16:48] caspervanneck opened #322 "Several items return air when tapping an economy sign"
#### Description

if you use some item id like 5 with
 economy sign
you get air

#### Versions
* Server software: pmmp
* EssentialsPE: v2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2016-12-19 16:51] Sandertv commented on #322
What do you mean exactly?

[2016-12-19 16:52] caspervanneck commented on #322
if i use the item id 5 i get air

[2016-12-19 16:52] caspervanneck commented on #322
and some other ids

[2016-12-19 17:01] Sandertv commented on #322
But when? Command? Sign?

[2016-12-19 17:02] caspervanneck commented on #322
sign economy

[2016-12-19 17:11] Sandertv commented on #322
Tried putting down just wooden planks?

[2016-12-21 07:12] markkrueg opened #323 "API 3.0 and MCPE 1.0: Players Unable To Connect"
#### Description
Many plugins are working with the [new 1.0.0 compatible version of PocketMine-MP](https://github.com/pmmp/PocketMine-MP/tree/mcpe-1.0-dimensions). However, the API is going through some changes (3.0). For some reason players are unable to connect to a 1.0.0 server when EssentialsPE is installed after "3.0.0-ALPHA1" is added to API in plugin.yml. No error is given; and I am unable

[2016-12-21 07:14] caspervanneck commented on #323
I don't have this I use 1.0.0 branch I can join fine

[2016-12-21 11:49] Sandertv commented on #323
Did EssentialsPE work on older versions for you? Just asking this to make sure it did work before 1.0.

[2016-12-21 11:50] Sandertv commented on #323
I'll be making a 1.0 version ranch soon.

[2016-12-21 17:41] markkrueg commented on #323
As soon as I saw this post I rebuilt the server from source and also re-built EssentialsPE from source. Now it is working! I apologize for the false issue. My source must have been corrupt.

[2016-12-21 17:41] #323 closed

[2016-12-21 17:44] SOF3 commented on #323
This issue cannot be confirmed resolved or invalid, because the API 3.0.0 is not finalized yet. No plugin should be assumed stable to work with API 3.0.0 before the API is finally released.

[2016-12-23 22:51] iawsomecreeper opened #324 "Home Problems"
#### Description

[code]

[2016-12-24 07:17] Sandertv commented on #324
Am I supposed to be able to do anything with this?

[2016-12-24 07:17] #324 closed

[2016-12-24 17:31] Sandertv commented on #322
Okay I tried reproducing and you're right. I'm not entirely sure how to fix this, but I'll have a try.

[2016-12-25 20:14] iawsomecreeper opened #325 "Home reset"
#### Description

Players report when they leave the servers homes gets reset. We imported a map from PC
#### Versions
* Server software: Elywing-1.0 php 7.0.10
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2016-12-25 20:17] Sandertv commented on #317
#325

[2016-12-25 20:17] #317 closed

[2016-12-25 20:18] Sandertv commented on #325
I've heard this issue has existed for a very long time. Do you know if the world that players want to teleport to with homes is loaded or not?

[2016-12-25 20:20] iawsomecreeper commented on #325
Homes Does not get saved

[2016-12-25 20:20] Sandertv commented on #325
Okay I think this is in fact the permission issue then. Let me quickly search the permissions.

[2016-12-25 20:21] iawsomecreeper commented on #325
No, this is not a permission issue but send me a permission so i can try it

[2016-12-25 20:22] iawsomecreeper commented on #325
because OP's homes does not get saved either.

[2016-12-25 20:37] Sandertv commented on #325
Could you set a home and look in the session file of your name, then send me a picture from it?

[2016-12-25 20:45] iawsomecreeper commented on #325
Um, how can i send pictures i got Twitter @exepx dm me and ill send u pic

[2016-12-25 21:08] Sandertv commented on #325
You can upload files by clicking on `selecting them,` at the bottom when posting a comment.

[2016-12-25 21:14] iawsomecreeper commented on #325
![bug](https://cloud.githubusercontent.com/assets/10277156/21472912/1a0402e2-caa4-11e6-998c-27e37d4fefdd.png)

[2016-12-25 21:20] Sandertv commented on #325
Okay, so it just doesn't save it AT ALL... Hm...

[2016-12-25 21:20] iawsomecreeper commented on #325
Yes it does not Saved at all

[2016-12-25 23:14] Sandertv commented on #325
I think this might have to do with the level folder name not being the same as the level.dat name, causing issues and making the home not valid, thus deleting it. Could you check if the folder name is the same as the name of the original imported world?

[2016-12-25 23:18] Sandertv commented on #301
Okay well just debugged and it doesn't matter if the nick is coloured or not, it just doesn't allow to enter at all if you have any nick... Hmmm...

[2016-12-25 23:34] iawsomecreeper commented on #325
can you explain it more on what i have to do?

[2016-12-25 23:40] Sandertv commented on #325
Okay so basically, in the PocketMine API, there's a $level->getName() function, which returns the level.dat name, and $level->getFolderName(), which returns the folder name from the world. Can you remember if you have a different name for the folder than the original name from the world, which it was called when you originally imported it from PC? You could try fixing the level.dat name with a plu

[2016-12-25 23:42] iawsomecreeper commented on #325
well, the world name is world i changed it

[2016-12-25 23:45] Sandertv commented on #325
Yeah okay, you should try what I said then. Try installing a plugin like ManyWorlds and use a command to fix the level.dat name.

[2016-12-26 01:27] iawsomecreeper commented on #325
okay, ill try that thank you sorry for late respond.

[2016-12-26 02:06] iawsomecreeper commented on #325
yes, it is now fixed thank you

[2016-12-26 07:59] Sandertv commented on #325
Alright! Great!

[2016-12-26 07:59] #325 closed

[2016-12-26 21:17] Sandertv commented on #301
Fixed as of 746d7e16c24ff0e698ca5031f50799f99f4f19ce

[2016-12-26 21:17] #301 closed

[2016-12-26 21:33] NycuRO opened #327 "Mute permission"
#### Description

Permission not work ..

- essentials.mute
#### Versions
* Server software: Genisys
* EssentialsPE: https://github.com/LegendOfMCPE/EssentialsPE/commit/746d7e16c24ff0e698ca5031f50799f99f4f19ce
* Game version: PE/W10 : all

#### Crashdump or console errors

[code]

[2016-12-26 21:35] Sandertv commented on #327
What part of it doesn't work?

[2016-12-26 22:05] NycuRO commented on #327
If i'm used in pureperms , permission: essentials.mute, command not work..

Permission not work for command

[2016-12-26 22:10] #327 closed

[2016-12-27 05:30] iawsomecreeper opened #329 "i found a new bug, its about pvp"
#### Description

i found a bug that you can't really PVP in the server I've been trying to do /PVP enable on and true but nothing seems to work I've check all the plugins if any of them are interfacing but none of them are.
#### Versions
* Server software: Elywing-1.0
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2016-12-27 08:41] Sandertv commented on #329
Try doing /difficulty 3.

[2016-12-27 09:02] caspervanneck commented on #329
its a Elywing problem

[2016-12-27 09:03] caspervanneck commented on #329
not EssentialsPE

[2016-12-27 09:23] Sandertv commented on #329
Alright thanks @caspervanneck

[2016-12-27 09:23] #329 closed

[2016-12-27 09:24] iawsomecreeper commented on #329
Found out a fix to it

On Tuesday, December 27, 2016, Blabla <notifications@github.com> wrote:

--
DBravo

[2016-12-27 19:47] Sandertv commented on #170
I think 1.0.0 MCPE update might have added this block-as-hat rendering. I'm going to be testing this.

[2016-12-28 11:12] caspervanneck commented on #322
👍 i wanth help but i have no time now @Sandertv

[2016-12-28 12:18] Sandertv commented on #322
Could you try making a [free] sign with wooden planks and see if the same happens?

[2016-12-28 12:20] caspervanneck commented on #322
i try it already but it keeps air

[2016-12-28 12:21] Sandertv commented on #322
Okay. Let's see...

[2016-12-29 21:28] Morrocantouch opened #330 "Fatal error flat .."
1.1.3 for mcpe 1.0.0

#### Description
the server can't start with EssentialsPE ..

#### Versions
* Server software:
* EssentialsPE:1.1.3
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2016-12-29 21:45] Akuroma commented on #330
I think you're using an outdated version of EssentialsPE. The newest version us 2.0.0. You should try it with this version. Just download the .zip-file from github. You need DevTools to do this.

[2016-12-29 21:51] Morrocantouch commented on #330
Ok thanks but how ? :S

[2016-12-29 21:57] Akuroma commented on #330
Just tap on <Code> as you see above. Than click the green button and choose "Download zip". Then you have to install the plugin DevTools on your server. Than put the zip-Archive that you've just downloaded into your plugins folder of your server, unpack the archive and restart the server. But you can also unpack the archive first before you put the files into your plugins directory.

Have fun.

[2016-12-29 21:58] Morrocantouch commented on #330
Ok thx so much ;)

[2016-12-29 21:58] #330 closed

[2016-12-29 22:01] Akuroma commented on #330
Nothing to thank ;)

[2016-12-30 08:05] Sandertv commented on #330
Thanks @Akuroma!

[2017-01-04 20:41] andris155 opened #332 "Loose types widely used in EssentialsPE"
Below is a list of issues associated with loose types. They may cause server crashes in PMMP API 3.0.0

- [x] TypeError: "Argument 1 passed to pocketmine\item\Item::setDamage() must be of the type integer, string given, called in phar:///plugins/EssentialsPE.phar/src/EssentialsPE/BaseFiles/BaseAPI.php on line 936" (EXCEPTION) in "/src/pocketmine/item/Item" at line 851
- [x] TypeError: "Argument 2

[2017-01-04 20:43] Sandertv commented on #332
Have you made sure the sign is written correctly? (Documentation is in wiki)

[2017-01-04 20:46] andris155 commented on #332
The signs already placed and works perfectly in Genisys 0.16.2.
I updated server to Elywing 1.0.0 and sign stopped working write linked error.

[2017-01-04 20:47] Sandertv commented on #332
I'll look into it.

[2017-01-05 07:14] Sandertv commented on #332
Could you upload a screenshot here of one of your non-working signs?

[2017-01-05 12:02] andris155 commented on #332
![screenshot_20170105-130045](https://cloud.githubusercontent.com/assets/8324198/21679978/2be81150-d347-11e6-8d05-a25f2e9cc00c.png)

[2017-01-05 13:38] SOF3 commented on #332
Elywing...

[2017-01-05 14:06] andris155 commented on #332
https://github.com/H4PM/Elywing/pull/303

[2017-01-07 09:50] chococraft opened #333 "error in plugin"
2017-01-07 [10:40:54] [Server thread/CRITICAL]: Could not pass event 'pocketmine\event\player\PlayerPreLoginEvent' to 'EssentialsPE v1.1.3': Undefined class constant 'DATA_SHOW_NAMETAG' on EssentialsPE\EventHandlers\PlayerEvents

2017-01-07 [10:40:54] [Server thread/CRITICAL]: Error: "Undefined class constant 'DATA_SHOW_NAMETAG'" (EXCEPTION) in "/EssentialsPE.phar/src/EssentialsPE/Loader" at li

[2017-01-07 10:13] Sandertv commented on #333
Please follow the format next time. You're using an old version from EssentialsPE, which does no longer work with current server softwares. Try downloading the newest version.

[2017-01-07 10:13] #333 closed

[2017-01-07 10:30] chococraft commented on #333
but I just download it 30 minutes ago after problems

[2017-01-07 10:54] Sandertv commented on #333
Click the link 'Download the latest development build here' in the README.

[2017-01-07 14:27] SOF3 commented on #332
@Sandertv I believe that if you have read the error message, you don't need to ask for any screenshots etc. at all.

[2017-01-07 19:25] Tolo0 commented on #332
None of the signs are working

[2017-01-07 19:27] Tolo0 commented on #332
![screenshot_20170107-192101](https://cloud.githubusercontent.com/assets/13458191/21744528/42439acc-d50f-11e6-8006-f0652fd481db.png)

[2017-01-07 19:28] Sandertv commented on #332
EssentialsPE version?

[2017-01-07 19:35] Tolo0 commented on #332
Elywing thread:CRITICAL > "Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Argument 2 passed to EssentialsPE\BaseFiles\BaseAPI::hasPlayerBalance() must be of the type integer, string given, called in phar:///home/tolo/mc2/plugins/EssentialsPE-fix.phar/src/EssentialsPE/EventHandlers/SignEvents.php on line 235 on EssentialsPE\EventHandlers\SignEvents
20:3

[2017-01-07 19:35] Tolo0 commented on #332
this is the latest version. I downloaded it 10 min ago

[2017-01-07 20:17] Sandertv commented on #332
Did creating the signs even EVER work with Elywing?

[2017-01-07 23:43] andris155 commented on #332
My created signs works perfectly. Thanks!

[2017-01-07 23:46] andris155 commented on #332
Create new signs - not work.

[2017-01-08 02:56] Tolo0 commented on #332
they worked fine with a older version of Elywing

[2017-01-08 03:37] Falkirks commented on #332
Elywing has just decided to strictly enforce types on common API calls, which is kind of a cruddy move.

[2017-01-08 05:51] SOF3 commented on #332
This is going to happen in API 3.0.0 as well, so this issue is valid.
Reopening this issue to fix all loose types.

[2017-01-08 08:41] Tolo0 commented on #332
I had to switch back to a old version of Elywing.  can't run a server with out working warp signs. the plugin really is essential 😅

[2017-01-08 09:31] Sandertv commented on #332
@Tolo0 the signs not updating is completely an Elywing issue, which we can not fix. It is up to them to fix that, and looking at their issue tracker I can see it's already reported.

[2017-01-08 09:47] SOF3 commented on #332
Or simply don't use Elywing.

[2017-01-08 10:19] Sandertv commented on #332
Preferable that ^

[2017-01-08 21:05] Tolo0 commented on #332
I have to use Elywing theys no alternative for what I need 😔 Elywing is full of bugs. I'm just going to stay with the build that works with EssentialsPE.

[2017-01-08 21:23] andris155 commented on #332
@Tolo0 Same problem. :'(

[2017-01-10 12:30] SOF3 commented on #332
Note that Elywing is not supported by EssentialsPE. Several of us have decided to use "Ignore the existence of Elywing and close any Elywing issues" as our policy towards Elywing. This issue exists here not for Elywing, but for some problems that EssentialsPE internally has.

[2017-01-11 11:35] zPIGzTV opened #334 "_h,h"
#### Description

#### Versions
* Server software:
* EssentialsPE:
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2017-01-11 11:35] zPIGzTV commented on #334
Directory

[2017-01-11 11:47] #334 closed

[2017-01-13 12:50] Andrew1481432 opened #335 "Error essentials"
#### Description
Login banned Player error console essentials

#### Versions
* Server software: Debian 8
* Core: pmmp
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors
[code]

[2017-01-13 15:30] Sandertv commented on #335
Can't help you if you don't provide the information asked in the issue template.

[2017-01-13 18:26] Andrew1481432 commented on #335
But with that code may conflict essentials
public function onPreJoin(PlayerPreLoginEvent $event){
$player = $event->getPlayer();
if($player->isBanned()){
$player->close("", "You are Banned!");
}
}

[2017-01-13 18:27] Sandertv commented on #335
Again, fill in the versions of the template. I can not help you right now.

[2017-01-14 11:26] SOF3 commented on #335
Cancel your event instead of kicking player directly.

[2017-01-14 11:26] #335 closed

[2017-01-14 21:45] Tolo0 opened #336 "Request"
Would it be possible to add a option to select how many homes a player can create?

[2017-01-14 22:09] Sandertv commented on #336
Currently EssentialsPE is going to stay 'low on new features', as a rewrite (at least a big part) is planned. There's already an issue opened for this. (#186)

[2017-01-14 22:09] #336 closed

[2017-01-14 23:11] Tolo0 commented on #336
ok np.

[2017-01-16 03:38] Adam1609 opened #337 "Invalid entity coordinate"
#### Description

Elywing thread:CRITICAL > "Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Invalid entity coordinates on EssentialsPE\EventHandlers\SignEvents
It never happened before @@

#### Versions
* Server software: Elywing
* EssentialsPE: 2.0.0
* Game version: PE/W10: 1.0.0

##Step to reproduce in PocketMine
Step 1: Put PureEntitiesX into the se

[2017-01-16 10:54] SOF3 commented on #337
Please provide steps to reproduce in PocketMine. Elywing is not explicitly supported.

[2017-01-20 11:53] Adam1609 commented on #337
Putting every mob plugin or a mob spawner and watch!

[2017-01-20 14:02] Adam1609 commented on #337
This error kept my server stopping all the time!!!!!

[2017-01-21 18:06] Dblcut3 opened #338 "Warping results in not being able to log back in"
#### Description
 When a user warps, then logs out, they cannot log back in. It just gives an wndless "building terrain" message.

#### Versions
* Server software: PMMP
* EssentialsPE: API 3.0
* Game version: PE

#### Crashdump or console errors

[code]

[2017-01-21 18:22] Akuroma commented on #338
Are you sure that this is a Essentials Reason?

[2017-01-21 18:30] Dblcut3 commented on #338
Well, it is a warp issue and warps are a part of essentials so I am just assuming it has to be from Essentials.

[2017-01-21 19:18] Sandertv commented on #338
I can not seem reproduce this. It might be an issue with all the chunk things in Pocketmine not being entirely stable yet.

[2017-01-21 19:19] Dblcut3 commented on #338
I did more research. That is probably it. You can close this if you are confident that it doesnt involve the plugin.

[2017-01-21 19:21] Sandertv commented on #338
I'll leave this open for the time being, just in case it does not get fixed by PocketMine.

[2017-01-23 16:04] SOF3 commented on #337
Closing for insufficient information. Will be reopened if sufficient information to reproduce the issue as well as detailed information are provided.

[2017-01-28 04:08] nopenothing opened #339 "Can't sell to [Sell] sign?"
Running tesseract server software, fork of pocketmine

#### Description

I get the error below in console when i try to sell item to admin shop. Does not happen if i do not have the item for that specific sign

#### Versions
* Server software:
* EssentialsPE: lastest commit
* Game version: PE 1.0.2

#### Crashdump or console errors

CRITICAL> TypeError: "Argument 2 passed to EssentialsPE\BaseFiles

[2017-01-28 07:06] Sandertv commented on #339
Relates to #332

[2017-02-02 20:34] TheClimbing opened #341 "Warps"
#### Description

Whenever I try to warp to any of the created warps the following error occurs
`[Error] You can't teleport to that warp`
I know you'll say we don't support Genisys but maybe that's a problem at PocketMine too?

#### Versions
* Server software:Genisys 1.0.0.16
* EssentialsPE:v2.0.0
* Game version: PE

#### Crashdump or console errors

[code]
None

[2017-02-02 20:46] Sandertv commented on #341
This is due to the level not being loaded. Try adding the level in the pocketmine.yml to auto-load on startup to fix this.

[2017-02-02 21:07] TheClimbing commented on #341
Thanks for the quick response but that didn't solve my issue.Every world I have is loaded and still when I try to warp to some of the warps the same Error ossurs

[2017-02-02 21:12] Sandertv commented on #341
Alright, I'll try to investigate this issue.

[2017-02-02 21:15] TheClimbing commented on #341
Just to mention if it helps.When i warp myself trough Console it works flawlessly

[2017-02-03 06:26] Sandertv commented on #341
Okay, thanks.

[2017-02-04 09:27] Sandertv commented on #292
I did notice that /r did not seem to work when players used /tell, (perhaps /msg as well?) so I assume that is part of your issue.

[2017-02-04 09:30] Sandertv commented on #322
It seems that using Item::fromString($name) can not always be found with $item->getName(). I guess using Item::__toString() would be the best way to do this?

[2017-02-04 10:17] SOF3 commented on #322
__toString uses the value from getName, except it is not affected by custom name...
fromString is not the reverse of the magic method __toString. It uses class constants from Item and it's superclasses, so you should use ReflectionClass::getConstants. Note that getConstants seems (according to documentation) to return defined constants only, so you might have to merge superclass constants too.

[2017-02-04 10:20] Sandertv commented on #322
Okay then. I'll wait with doing anything before the rewrite is going to happen anyways.

[2017-02-04 10:41] SOF3 commented on #322
You meant with**out**?

[2017-02-05 09:28] TheClimbing commented on #341
@Sandertv So Simple Warp overrides Essentials and that solved the issue if you can use both and compare them

[2017-02-05 09:33] Sandertv commented on #341
Are you sure you even have the required permissions for warping? Do you have pureperms installed by any chance? It could explain why warping from the console does work.

[2017-02-05 09:38] TheClimbing commented on #341
Yes I'm quite sure that I have the permissions,  I searched a lot for warping issues and their solutions before opening new issue. So PurePerms is installed and the respective permission for warping is "essentials.command.warp.use" I tried if adding "essentials.command.warp*"  will fix it but sadly no.

[2017-02-05 09:41] Sandertv commented on #341
Try giving yourself the permission `essentials.warp.use` and `essentials.warps.*`.

[2017-02-05 09:52] TheClimbing commented on #341
I gave myself those permissions and it didn't helped.I went up and tried to OP myself ignoring PurePerms
and that worked.

[2017-02-05 09:57] Sandertv commented on #341
Guess so!

[2017-02-05 09:59] HimbeersaftLP commented on #341
Can you show all the warp permissions you gave to yourself again?

[2017-02-05 10:34] Sandertv commented on #341
Try giving yourself the permission `essentials.warps.<warpname>`.

[2017-02-05 10:37] TheClimbing commented on #341
Wow thanks that fixed my issue.I've  never expected perms being created for each warp.

[2017-02-05 10:38] Sandertv commented on #341
I'm not sure why the * wouldn't work though... I'll have to check that.

[2017-02-05 10:41] TheClimbing commented on #341
Should I close now?

[2017-02-05 10:41] Sandertv commented on #341
I'll leave it open for a bit.

[2017-02-12 01:09] mote166 opened #342 "[Free] sign issue"
#### Description

i was using an old server version which uses api 2.0.0 and created [Free] signs and they worked just fine but now when i updated the server to elywing ( uses api 2.0.0 and 3.0.0-ALPHA1 ) i can't place [Free] signs and when i tap the ones that ive created before updating nothing shows up and i get this console error
#### Versions
* Server software: linux (Elywing)
* EssentialsPE:

[2017-02-12 01:29] TheClimbing commented on #342
Relates #339

[2017-02-12 07:22] Sandertv commented on #342
For this specific issue, just get the latest version. It should fix it. There are more of these issues with other signs though.

[2017-02-12 07:23] #342 closed

[2017-02-12 07:26] Sandertv commented on #339
Try the commit I referenced above, it should fix this issue.

[2017-02-12 07:28] #339 closed

[2017-02-14 16:25] Sandertv commented on #338
I tried to reproduce this in any way possible using the latest PocketMine build, and I can't seem to be able to. If this issue isn't fixed with the latest build, please tell us.

[2017-02-14 16:25] #338 closed

[2017-02-14 17:58] TheClimbing commented on #341
I can't use /world even when I have the perms for it  `essentials.world.ExampleWorldName` and `essentials.world`

[2017-02-14 17:59] TheClimbing commented on #341
Says again that I can't teleport to that warp

[2017-02-14 18:59] Sandertv commented on #341
give yourself the permission essentials.worlds.<world> or essentials.worlds.*

[2017-02-15 15:51] HiggsInc commented on #276
#### Versions
* Server software: Clearsky ver 1.0.3
* EssentialsPE: EssentialsPE v2.0.0
* Game version: Pocket Edition
Server: CentOS 6.8

![essentialspe-warp signs not working](https://cloud.githubusercontent.com/assets/19491166/22980197/8098ba72-f3a1-11e6-8739-ffe3c44c4e17.PNG)

Hi,

Warp commands work but the signs dont. I've recently moved over to clearsky from genisys. As a result my warp sig

[2017-02-15 16:21] Sandertv commented on #276
This is due to the next line on special signs after the required lines having to be a number, which is used as a price for using the sign. I'll fix the problem soon, by checking if the line is numeric.

[2017-02-17 18:53] NycuRO commented on #341
Wtf, close that issue ,is permission problem.

[2017-02-24 18:19] Tolo0 opened #346 "use warp sign critical error"
#### Description

#### Versions
* Server software: modified pmmp
* EssentialsPE: latest from master branch
* Game version: PE/Android

#### Crashdump or console errors

Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Argument 2 passed to EssentialsPE\BaseFiles\BaseAPI::hasPlayerBalance() must be of the type integer, string give

[2017-02-24 18:20] Tolo0 opened #347 "Use warp sign critical error"
#### Description
When i touch a warp sign nothing happens.  i just get a error on the console

#### Versions
* Server software: modified pmmp
* EssentialsPE: latest from master branch
* Game version: PE/Android

#### Crashdump or console errors

Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Argument 2 passed to EssentialsPE\B

[2017-02-24 18:22] #346 closed

[2017-02-24 18:35] Sandertv commented on #347
Third line is preserved for a price to use the sign. I'll push a fix for this soon, but untill then: Try removing the third line of the sign.

[2017-02-24 18:40] Tolo0 commented on #347
@Sandertv  Oh lol ok il try that. thanks for the fast response 😉

[2017-02-24 19:04] #347 closed

[2017-02-27 19:53] dktapps commented on #337
@SOF3 you didn't actually, um, _close_ it...

[2017-02-28 09:54] SOF3 commented on #337
@dktapps thanks for reminding me :stuck_out_tongue_winking_eye:

[2017-02-28 09:54] #337 closed

[2017-03-11 07:47] tiNsLeY799 commented on #293
For some reason I wasn't getting notifications for this.
I'll dig around. I'm sure I have this dump file somewhere.

[2017-03-16 16:09] iDirtniverse commented on #311
This problem is still exist :(

[2017-03-17 18:58] austina1212 opened #348 "Homes do not save!"
#### Description

When a player sets a home with /sethome (name) and re-log, it disappears...

#### Versions
* Server software: Tesseract-1.1.0 Ruby
* EssentialsPE: Lastest
* Game version: PE/W10 Both

#### Crashdump or console errors

*None*
[code]

[2017-03-17 18:59] Sandertv commented on #348
Sorry, but we don't support Tesseract.

[2017-03-17 18:59] #348 closed

[2017-03-19 12:26] caspervanneck commented on #348
@Sandertv its on pmmp to so open?

[2017-03-19 12:29] Sandertv commented on #348
Do you have imported any maps? See #325

[2017-03-19 15:55] flaxues opened #349 "Permissions issues"
#### Description
Many commands lack proper permissions for example `/back` or `/heal`. They all check if the player has perrmision essentials.*.use but not essentials.back.ondeath or essentials.heal.other. And these 2 commands are not the only one.

But the command `/mute` does check for these kind of perms

#### Versions
* Server software: PMMP
* EssentialsPE: 8ba714b
* Game version: PE/W10

####

[2017-03-19 16:12] caspervanneck commented on #348
@Sandertv  no  i tested on new map with pmmp

[2017-03-19 19:39] Sandertv commented on #349
I'll work on some permission stuff soon, to add the proper permissions for those.

[2017-03-19 20:04] #349 closed

[2017-03-19 20:06] Sandertv commented on #349
essentials.back.ondeath has never really been implemented. There's no current way to check if the last teleport location was the death location at the moment.

[2017-03-19 22:55] DJgamingYT opened #350 "Issue with kits"
#### Description

You can't eat food that were put in kits unless you re-join the server

#### Versions
* Server software: Tesseract
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2017-03-20 06:21] Sandertv commented on #350
This is a server software issue. We don't support tesseract. I recommend you to use PocketMine.

[2017-03-20 06:21] #350 closed

[2017-04-02 07:38] #322 closed

[2017-04-02 10:30] poustmal opened #351 "Answer and close then"
Can I set permissions for certain kits for my groups?for vips,etc.
e.g. essentials.kits.archer or no

[2017-04-02 10:46] Sandertv commented on #351
Yup, exactly like that.

[2017-04-02 10:46] #351 closed

[2017-04-04 15:24] dino147 opened #352 "Request update to API 3.0.0-ALPHA5"
Please update your plugin to API 3.0.0-ALPHA5 (pocketmine for mcpe 1.0.5) and give me a phar link or a zip to phar convertor.

[2017-04-05 06:29] SOF3 commented on #352
There is Poggit-CI.

3.0.0-ALPHA5 will see very breaking changes soon. Shouldn't update to it right now.

[2017-04-05 06:29] #352 closed

[2017-04-10 17:29] Sandertv commented on #341
No issues anymore? I'll close this issue then.

[2017-04-10 17:29] #341 closed

[2017-04-10 17:30] Sandertv commented on #321
Homes and warps are both multiworld, I'm not sure why they wouldn't be. Try loading the level using the pocketmine.yml or some other plugin that loads worlds.

[2017-04-10 17:30] #321 closed

[2017-04-20 06:45] sdochong opened #353 "Lightning and Nuke issue"
[code]

[2017-04-26 20:12] Sandertv commented on #353
Going to fix this on a seperated branch very soon. I'll notify you when it's done.

[2017-04-26 23:34] jasonwynn10 opened #354 "Improper Config loading"
#### Description

The config file becomes blank after the initial creation
#### Versions
* Server software: PMMP master branch poggit build 542
* EssentialsPE: e89d942
* Game version: N/A
* Operating System: Windows 10

#### Crashdump or console errors

![img_0788](https://cloud.githubusercontent.com/assets/16521025/26510155/f2e936ac-4229-11e7-930a-8e4c9a5869a3.PNG)

There is an outputted error th

[2017-04-27 04:15] SOF3 commented on #354
Sounds this becomes more frequently heard recently... Probably something to do with PMMP?

[2017-04-30 06:44] Sandertv commented on #354
Perhaps it is. @jasonwynn10 bump, could you upload the error?

[2017-04-30 06:48] Sandertv commented on #353
See the commit referenced above. Please use a version from the PM-3.0.0 branch.

[2017-04-30 06:48] #353 closed

[2017-04-30 08:01] Tolo0 commented on #353
Nuke seems fine now but /shock still bugged

[07:57:03] [Server thread/CRITICAL]: Unhandled exception executing command 'shock' in lightning: Class pocketmine\network\mcpe\protocol\AddEntityPacket not found
[07:57:03] [Server thread/CRITICAL]: ClassNotFoundException: "Class pocketmine\network\mcpe\protocol\AddEntityPacket not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144
[07:57:30]

[2017-04-30 08:03] Sandertv commented on #353
Might I guess you don't use PocketMine?

[2017-04-30 08:03] Tolo0 commented on #353
Im using ClearSky from pocketmine fork

[2017-04-30 08:05] Sandertv commented on #353
That's their fault then. Tell them to make their folder structure like pmmp, because we can't help you. Sorry.

[2017-04-30 08:05] Tolo0 commented on #353
Ok np.

[2017-05-02 07:12] HipsterAF opened #355 "Item count /item"
#### Description

See the pic, what muqsit said on playervault's issue
![screenshot_20170502-123854 01](https://cloud.githubusercontent.com/assets/25702950/25607526/838bb9ae-2f34-11e7-9851-b395c9e92c8b.png)

#### Versions
* Server software: PMMP 1.0.7
* EssentialsPE: 2.0.0
* Game version: PE/W10 any

#### Crashdump or console errors

[code]

[2017-05-02 07:24] Sandertv commented on #355
This issue doesn't have a particularly high priority, but I can confirm it. For now, I'm going to leave it, as I'm working on a rewrite.

[2017-05-02 07:25] Assblocker commented on #355
Okay

[2017-05-04 14:12] infinity-pe opened #356 "Block/Item Direction Bug"
#### Description
Signs, Ladders or ItemFrames, they cannot be placed on walls – they jump off.
Things like Signs or Stairs they are not showing into the direction of the player when placing.
Also, doors are glitching a lot.
I know it must be a problem with this plugin. I tried removing this plugin from my server, and everything was working again.
#### Versions
* Server software: PocketMine-MP 1.6.

[2017-05-04 14:41] Sandertv commented on #356
I've tested the latest version and can't seem to be able to reproduce the issue. Is there anybody else who experiences this issue?

[2017-05-06 09:16] infinity-pe commented on #356
I hope this can be fixed or lots of blocks and items won't anymore on my server.

[2017-05-06 11:04] infinity-pe opened #357 "/vanish Command Error"
#### Description
When running the `/vanish` command, the console gets an error:
`[Server thread/CRITICAL]: Unhandled exception executing command 'vanish' in vanish: Class pocketmine\network\protocol\MobEffectPacket not found
[Server thread/CRITICAL] ClassNotFoundException: "Class pocketmine\network\protocol\MobEffectPacket not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144`

#### Ver

[2017-05-06 11:06] Sandertv commented on #357
Simply bumping the API is not going to work. Please download EssentialsPE from the PM-3.0.0 branch.

[2017-05-06 11:06] #357 closed

[2017-05-09 15:31] infinity-pe commented on #356
Hi, I found out this: if I'm an OP (if my name is on ops.txt), this bug happens. If I'm not an OP, this bug is gone.
It must be EssentialsPE, because I tried removing it, and this bug completely disappeared. But if I turn on EssentialsPE on again, the bug is back for OPs again.
I also tried installing an older version of this, turned off the auto updater and test it again. No difference, the bug i

[2017-05-09 15:44] Sandertv commented on #356
Do you (or don't you) have PurePerms installed on the server?

[2017-05-09 15:51] infinity-pe commented on #356
Yes, I have. I set `- '*'` for these groups: Owner, CoOwner and Admin.

[2017-05-09 16:10] Sandertv commented on #356
I just set up a server to test this issue, but I am unable to reproduce it. On a PMMP server using the latest PM-3.0.0 branch commit this issue does not occur. I've tested it both WITH PurePerms and without, but this does not seem to make a difference. I am quite confident this is not an EssentialsPE issue...

[2017-05-10 09:18] DerddyDert opened #359 "kits"
any way to disable kits would be lovely.

#### Description

#### Versions
* Server software:
* EssentialsPE:
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2017-05-10 09:21] Sandertv commented on #359
Hi @DerddyDert, at the moment I'm not going to work on the main branch too much. I'm currently working very hard on a rewrite of the complete plugin, where you can enable/disable every command and the seperate modules like economy. This is a planned feature for that rewrite. For now, you could disable the command in the pocketmine.yml by adding an alias called kit with no commands to execute.

[2017-05-10 09:22] #359 closed

[2017-05-10 18:55] infinity-pe commented on #356
I tested something again. I made my test account an OP and tried placing a sign. It works, no more bug. But  only my original account has this bug. I looked if it can be the problem of EssentialsPE or PurePerms, but I cannot find anything.
I don't know why this happens, I can also hardly believe it's the update, because the older version doesn't fix it. And I'm not sure if it's PurePerms, because

[2017-05-10 18:58] Sandertv commented on #356
I suspect the cause of this is the /unlimited command. Could you try executing it and see if it enables/disables it, then try to place a sign for example?

[2017-05-10 19:41] infinity-pe commented on #356
Oh, yes, it fixed the problem. Can you look at that command again and fix the bug with the signs?

[2017-05-10 19:58] #356 closed

[2017-05-10 20:01] Sandertv commented on #356
The latest commit should have fixed this issue. Please try it again.

[2017-05-11 13:22] infinity-pe commented on #356
Shall I use _master_ branch now or _PM-3.0.0_? Because `/vanish` won't work with the _master_ branch.

[2017-05-11 13:27] jasonwynn10 commented on #356
the master branch is for PM before API 3

[2017-05-11 13:32] Sandertv commented on #356
Excuse ne, let me merge it.

[2017-05-11 13:45] infinity-pe commented on #356
I got this error in console:
http://i.cubeupload.com/zubbz9.png

Plus, don't want to open a new issue again for this: the `/fix` command isn't working. It doesn't repair the item.

[2017-05-11 13:47] Sandertv commented on #356
/fix does work. Just tap the item on the ground. I'll fix it properly once I'm home, give me some time.

[2017-05-14 16:43] infinity-pe opened #361 "Errors in console"
#### Description
I cannot explain, but my console got spammed with these errors:

#### Versions
* Server software: Debian 8.0
* EssentialsPE: v2.0.0
* Game version: PE 1.0.8

#### Crashdump or console errors

[code]

[2017-05-14 16:45] Sandertv commented on #361
Any ideas when this happens?

[2017-05-14 16:46] infinity-pe commented on #361
When placing a block.

[2017-05-14 16:47] Sandertv commented on #361
Everytime?

[2017-05-14 16:48] infinity-pe commented on #361
Yes.

[2017-05-14 16:49] #361 closed

[2017-05-23 19:52] Sandertv commented on #354
@SOF3 I had the same issue with another plugin when calling $this->saveDefaultConfig() in a PluginBase class. The config file got created, but without any text, even though the resources folder contained a filled config.yml

[2017-05-23 19:53] Sandertv commented on #311
It seems like this isn't actually an issue with the permissions but with the sign checking itself. I'll see if I can fix it.

[2017-05-24 09:26] SOF3 commented on #354
Is this completely random?

[2017-05-24 10:25] Sandertv commented on #354
I suspect this happens only when running on Windows systems. I've never seen it on a different operating systen than Windows.

[2017-05-24 12:31] SOF3 commented on #354
This would either be a failure in stream_copy_to_stream() or in fclose() :thinking:

[2017-05-25 07:30] Sandertv commented on #354
Turns out this isn't just windows. yaml_parse: end of stream reached without finding document 0 in Config.php line 142. This happens with only saveResource() too. See code used for creating the config file in my KillCounter plugin.

[2017-05-25 09:01] SOF3 commented on #354
@Sandertv do you reproduce this **every time** or just occasionally?

[2017-05-25 09:05] Sandertv commented on #354
Every time. Perhaps this is just because of incorrectly formatted yaml files?

[2017-05-25 09:46] SOF3 commented on #354
I don't think so. It doesn't parse the YAML at all.
@Sandertv could you var_dump() the return values of stream_copy_to_stream() and fclose() (both of them) in the PluginBase.php saveResource() function by modifying the source code?

[2017-05-25 11:10] Sandertv commented on #354
Sure thing, I'll try it out shortly.

[2017-05-26 17:11] Sandertv commented on #354
Actually, through further testing, I figured out this is simply because $this->getConfig() is called before $this->saveDefaultConfig() or $this->saveResource(), and creates an empty configuration file because of that. If no additional parameter is passed to saveResource() the config file will not be overwritten and will remain empty. Perhaps it's more appopriate to throw an exception if no configu

[2017-05-26 17:12] Sandertv commented on #354
That does not explain this issue though. I haven't been able to reproduce it with EssentialsPE either.

[2017-05-27 02:09] SOF3 commented on #354
@dktapps ^

[2017-05-30 00:35] XDqrkneZ opened #365 "Warps get deleted after restart"
#### Description

#### Versions
* Server software:
* EssentialsPE:
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2017-05-30 05:14] #365 closed

[2017-05-30 05:15] Sandertv commented on #365
I cannot help you if you don't fill out the issue template. Please comment once you've done so and I'll re-open the issue if it is still valid.

[2017-06-02 14:09] Crypt97 opened #366 "API 3.0.0"

[2017-06-02 14:10] Sandertv commented on #366
Please look at the PM-3.0.0 branch.

[2017-06-02 14:10] #366 closed

[2017-06-08 00:28] FienixEC opened #370 "Homes Reset Again."
#### Description
After latest mcpe update, and new /sethomes get deleted on player join/quit

#### Versions
* Server software:Pocketmine-MP 1.6.2dev
* EssentialsPE: 2.0.0
* Game version: PE/W10

#### Crashdump or console errors

[code]

[2017-06-08 05:09] jrodr10 opened #371 "Class Change from SIGN_POST to WallSign & StandingSign"
#### Description

01:03:04 [INFO] Enabling EssentialsPE v2.0.0
01:03:04 [CRITICAL] Error: "Undefined class constant 'pocketmine\block\Block::SIGN_POST'" (EXCEPTION) in "/plugins/EssentialsPE-plugin/src/EssentialsPE/Loader" at line 95
01:03:04 [INFO] Disabling EssentialsPE v2.0.0
01:03:04 [CRITICAL] TypeError: "Return value of EssentialsPE\Loader::getAPI() must be an instance of EssentialsPE\BaseFi

[2017-06-08 05:14] Sandertv commented on #370
Are you sure you have the latest version, not the latest release? I don't see how this issue could keep coming back.

[2017-06-08 05:15] #371 closed

[2017-06-10 02:58] FienixEC commented on #370
i was using a version from like Jan of this year when i checked, so i downloaded the latest zip and tried, now it won't even generate a Sessions folder, and the plugin shows up Red(Disabled) in server using /plugins

[2017-06-11 17:04] ZizzyZizzy opened #375 "Undefined class constant STANDING_SIGN - disabling EssentialsPE (getAPI/BaseAPI)"
#### Description
.phar was created from the build #d6d17c0 released 19 hours ago. Started server, and this is the error:

[code]
#### Versions
* Server software: PocketMine-MP, built from last night's v1.1.0 build #2024e9e
* EssentialsPE: v2.0.0 from 19 hours ago - #d6d17c0
* Game version: PE

#### Crashdump or console errors
Just the output above.

[2017-06-11 17:06] poustmal opened #376 "Errors when server starts"
#### Description
I'm just opening server and it gives this error when it tries to enable the plugin:

[00:57:50] [Server thread/INFO]: Enabling EssentialsPE v2.0.0
[00:57:50] [Server thread/CRITICAL]: Error: "Undefined class constant 'pocketmine\block\Block::STANDING_SIGN'" (EXCEPTION) in "/plugins/EssentialsPE_v2.0.0.phar/src/EssentialsPE/Loader" at line 95
[00:57:50] [Server thread/INFO]: Disabl

[2017-06-11 17:08] poustmal commented on #376
..issue already exists,close

[2017-06-11 17:08] #376 closed

[2017-06-11 17:08] poustmal commented on #375
Someone fix it.

[2017-06-12 08:58] akaSnapy commented on #370
Same for me.(Using PMMP)

[2017-06-12 09:38] Sandertv commented on #370
Please make sure you're using one of the latest versions. If you have a world from PC, make sure the name is corrected.

[2017-06-13 06:22] #375 closed

[2017-06-13 15:10] infinity-pe opened #377 "Error in /vanish command"
#### Description
I'm getting this error in console when doing the /vanish command. I disappear, but I cannot make me appear again.
Screenshot of Error: http://i.cubeupload.com/Y5UTTf.png

#### Versions
* Server software: Debian 8.0
* EssentialsPE: v2.0.0
* Game version: PE

#### Crashdump or console errors
`[Server thread/CRITICAL]: Unhandled exception executing command 'v' in vanish: Argument 1 p

[2017-06-13 15:48] Sandertv commented on #377
Got it, give me a minute.

[2017-06-13 15:56] #377 closed

[2017-06-14 18:50] infinity-pe opened #378 "/fix not working"
#### Description
The `/fix` command isn't working. I'm getting a console error.

#### Versions
* Server software: Debian 8.0
* EssentialsPE: v2.0.0
* Game version: PE

#### Crashdump or console errors

`[Server thread/CRITICAL]: Unhandled exception executing command 'fix' in repair: Undefined variable: a`
`[Server thread/CRITICAL]: ErrorException: "Undefined variable: a" (EXCEPTION) in "/Essential

[2017-06-17 15:13] StormCraftMCPE opened #379 "Console Bug"
#### Description

#### Versions
* Server software: Pocketmine-MP
* EssentialsPE: New
* Game version: PE/W10

#### Crashdump or console errors

[Server thread/CRITICAL]: Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Trying to get permissions of closed player on EssentialsPE\EventHandlers\OtherEvents

[2017-06-18 13:38] SOF3 commented on #379
`EssentialsPE: New`?

[2017-06-18 23:48] StormCraftMCPE commented on #379
Version 2.0.0 xD

[2017-06-20 11:08] Sandertv commented on #379
PlayerInteractEvent with closed player? How's that supposed to work?

[2017-06-20 11:10] SOF3 commented on #379
Please set `debug`.`level` in pocketmine.yml to 2 and test again.

[2017-06-24 20:12] kenygamer commented on #378
@infinity-pe **$a** will not be defined unless argument *0* is set (*hand* or *all*, respectively).

кєνιи αи∂яєωѕ

[2017-06-24 20:13] kenygamer commented on #370
Could I ask where homes are saved?

кєνιи αи∂яєωѕ

[2017-06-24 20:15] kenygamer commented on #354
The error is clear, there is a problem parsing the **YAML**
Update: Warning

кєνιи αи∂яєωѕ

[2017-06-24 20:17] kenygamer commented on #311
And if it is not being checked if the player has the permission? You are registering the permission, but it has no use.?

кєνιи αи∂яєωѕ

[2017-06-24 20:18] kenygamer commented on #292
@Sandertv Oh, regarding that, please add an option to enable or disable *Override* in the *config*.

кєνιи αи∂яєωѕ

[2017-06-24 20:18] kenygamer commented on #199
@ZGamerOficial And what is that command supposed to do?

кєνιи αи∂яєωѕ

[2017-06-24 20:22] kenygamer opened #380 "strtolower() home's and remove characters that doesn't follow regex"
#### Description

Use regexs when setting homes in order to allow a-z0-9.
#### Versions

* PocketMine Version: Ubuntu 16.04
* EssentialsPE Version: v2.0.0
* Game Version: PE

#### Crashdump or console errors

[code]

[2017-06-24 21:27] Sandertv commented on #380
https://github.com/LegendOfMCPE/EssentialsPE/blob/master/src/EssentialsPE/BaseFiles/BaseSession.php#L339

[2017-06-24 21:27] #380 closed

[2017-06-24 21:29] Sandertv commented on #311
@kenygamer please stop making comments that don't make sense. Permissions are being checked, but the current way of special signs is a mess. This will be taken care of in the rewrite.

[2017-06-24 21:29] Sandertv commented on #354
@kenygamer we're not blind. We can **see** there is an error, we're wondering about what **causes** it.

[2017-06-24 21:34] kenygamer commented on #380
@Sandertv Oh ok, I appreciate you taking a minute to give me the line number for reference (where validation is made).

кєνιи αи∂яєωѕ

[2017-06-24 21:37] kenygamer commented on #311
@Sandertv Forgive me, I did not check if my statement was correct.

кєνιи αи∂яєωѕ

[2017-06-25 01:23] SOF3 commented on #354
@kenygamer it is not. The config is copied before it is parsed, and it is copied wrongly.

[2017-06-25 11:35] Dearkungchannel opened #381 "/v error"
#### Description

#### Versions

* PocketMine Version (Please copy 'git commit hash'):
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-06-25 11:40] Sandertv commented on #381
We can not resolve your issue if you don't provide sufficient information for us to fix your issue. Please comment once you've given enough information so we can open your issue again.

[2017-06-25 11:40] #381 closed

[2017-06-25 12:10] infinity-pe commented on #378
It's not fixing the item.

[2017-06-25 18:27] kenygamer commented on #378
@infinity-pe I said, **$a** needs to be defined.
Until it isn't, fixing won't work

кєνιи αи∂яєωѕ

[2017-06-25 21:38] kenygamer commented on #378
@infinity-pe Try using `/fix <hand|all>`. Does that yet return errors in console?

кєνιи αи∂яєωѕ

[2017-06-25 23:37] kenygamer commented on #378
@infinity-pe #382 cf548e3c063bc8a0f26edb219d6b1aed20293856 May give the solution.

[2017-06-27 15:45] dktapps commented on #354
The referenced commit should resolve this issue.

[2017-06-27 16:29] Sandertv commented on #354
👍

[2017-06-27 16:29] #354 closed

[2017-07-06 04:19] BajanVlogs commented on #370
yeah its doing it for me on GenisysPro and im using latest

[2017-07-06 04:39] BajanVlogs opened #384 "Homes Reset Again"
Can you please fix this idk why this is like this but im using genisyspro so idk if its just the software or what

[2017-07-06 05:00] #384 closed

[2017-07-06 06:29] Sandertv commented on #355
This is actually an intended feature. The oversized stacks feature.

[2017-07-06 06:29] #355 closed

[2017-07-06 06:36] Sandertv commented on #379
Due to a lack of information we can not resolve your issue. If you think you've provided enough information, please ask to re-open.

[2017-07-06 06:36] #379 closed

[2017-07-06 06:38] #378 closed

[2017-07-06 18:17] ZizzyZizzy opened #385 "Latest Pocketmine changes breaks Essentials with Declaration errors"
dktapps added some code that breaks many plugins:
https://github.com/pmmp/PocketMine-MP/commit/08e9c0572b6b63a833dbde0568ca8d93b58ccaec#commitcomment-22939072

#### Description
Error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, string $alias, array $args): bool must be compatible with pocketmine\command\Com
mand::execute(pocketmine\command\CommandSen

[2017-07-06 18:28] Sandertv commented on #385
This is actually on a seperate branch, which is currently supported on the master branch of EssentialsPE. I actually added support for that already. Download an EssentialsPE version 2 commits back for your current PocketMine version please.

[2017-07-06 18:29] #385 closed

[2017-07-06 20:21] ZizzyZizzy commented on #385
@Sandertv Which build are you referring to? Every build I've tried either crashes when the player joins (plugin.yml shows ALPHA5) or crashes during startup (plugin.yml shows ALPHA6,ALPHA7)

I tried all of them back to build d6d17c0.  That version (and older) errors when the server starts, then disables the plugin:

06.07 14:13:37 [Server] Server thread/CRITICAL Error: "Undefined class constant 'po

[2017-07-06 20:48] Sandertv commented on #385
Ugh... It's so hard to keep up with the branches mess in PocketMine. I'll make some releases for every version I can.

[2017-07-06 20:56] ZizzyZizzy commented on #385
No doubt. If Microsoft/Mojang would quit updating every other day, maybe we would have mobs in Pocketmine already!

[2017-07-06 21:44] Sandertv commented on #385
Please try the API3/MASTER-ALPHA-6 branch.

[2017-07-07 00:33] ZizzyZizzy commented on #385
Almost:

06.07 18:32:19 [Server] Server thread/CRITICAL TypeError: "Argument 4 passed to EssentialsPE\BaseFiles\BaseCommand::__construct() must be of the type string, null given, called in phar:///plugins/EssentialsPE.phar/src/EssentialsPE/Commands/Back.php on line 15" (EXCEPTION) in "EssentialsPE.phar/src/EssentialsPE/BaseFiles/BaseCommand" at line 26

06.07 18:32:19 [Server] Server thread/INFO D

[2017-07-07 05:29] Sandertv commented on #385
Oops... My bad, fixing it in a second.

[2017-07-07 06:20] Sandertv commented on #385
Okay. Hopefully it should work just fine now. Sorry for the inconvenience.

[2017-07-07 12:38] Matthww commented on #385
[code]
I'm using api3/blocks

[2017-07-07 12:51] Sandertv commented on #385
Òops didn't notice that one! On it.

[2017-07-07 13:25] Matthww commented on #385
@Sandertv Already had it fixed myself just wanted to let you know :)

[2017-07-07 13:28] Sandertv commented on #385
Alright, thanks either way ;)

[2017-07-07 15:14] ZizzyZizzy commented on #385
@Sandertv Bazinga! Thanks! Working like a charm now.

[2017-07-07 15:31] Sandertv commented on #385
Awesome, glad it works again.

[2017-07-07 20:21] XDqrkneZ opened #386 "Warps get deleted after restart"
#### Description

Warp gets deleted after restart
#### Versions

* PocketMine Version: PocketMine-MP 1.6.2dev-154 「Unleashed」 implementing API version 3.0.0-ALPHA5 for Minecraft: PE v1.1.0.55 (protocol version 113)
* EssentialsPE Version: 2.0.0
* Game Version: PE / Windows 10 W10/mobile

#### Crashdump or console errors

[code]

[2017-07-07 21:02] Matthww opened #387 "Vanish doesn't work"
#### Description

When running /v or /vanish an error will come up in the console
#### Versions

* PocketMine Version: api3/blocks 1a5e3b2
* EssentialsPE Version: 790db60

#### Crashdump or console errors

[code]

[2017-07-08 06:25] Sandertv commented on #387
Yeah confirmed. Because I went too far with the branches I have to wait for a bit. Another one of these times where master and api3/blocks branch have the same API but they're not the same. If you want to fix that yourself, you can change those 3 integers you see on that line to `new Color($value1, $value2, $value3)`, I'm waiting for a bit to do that.

[2017-07-08 06:27] Sandertv commented on #386
Without knowing the git hash from the commit you downloaded this version from, I can not resolve your issue. Just click the commit you downloaded a phar file from on Poggit and you should see the git commit hash.

[2017-07-08 06:27] #386 closed

[2017-07-08 16:13] VoliPlays opened #388 "AFK Error"
#### Description

When I start the server on the last pocketmine, I get this error.
#### Versions

* PocketMine Version:7288515
* EssentialsPE Version:84a8829
* Game Version: PE / Windows 10
PE
#### Crashdump or console errors

Fatal error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, string $alias, array $args): bool must be compatible with pocketmin

[2017-07-08 18:15] Sandertv commented on #388
Please use the Master-ALPHA-6 branch.

[2017-07-08 18:15] #388 closed

[2017-07-09 13:29] SuperAlecs opened #390 "Feature request [Disposal] sign"
hello I want to ask if you could add [Disposal] sign. What is it: when player interact with this sign it will open an empty virtual chest and when player close chest item will deleted. Thanks in advance!

[2017-07-09 13:32] Sandertv commented on #387
Please try the api3/blocks branch of EssentialsPE.

[2017-07-09 13:32] #387 closed

[2017-07-09 13:33] Sandertv commented on #390
As in some kind of trash bin? I like that idea. I'm not sure if I'll add it to the current EssentialsPE version, but I'll definitely include it in the 3.0.0 rewrite of EssentialsPE. Thanks for your suggestion!

[2017-07-09 13:43] Sandertv commented on #179
I don't feel like EssentialsPE should be used as an extensive jailing plugin. A proper jail plugin is more than just one command. https://github.com/hoyinm14mc/Jail

[2017-07-09 13:43] #179 closed

[2017-07-09 14:01] Sandertv commented on #332
EssentialsPE 3.0.0 will have strict types enforced, and so does PocketMine now. I'm closing this issue as most of these issues have been fixed, or will be fixed in 3.0.0.

[2017-07-09 14:01] #332 closed

[2017-07-09 22:16] Sandertv commented on #370
@kenygamer homes are currently saved in the session file for each player.

[2017-07-11 11:22] AffanStarPure opened #393 "[Feautre Request] Fly And Teleport"
Hey i have Requested for fly can u try add when change world fly automatically off then PvP hit player automatically off too and down to ground

What about teleport TPA and tpahere i want request too  player on world survival do /tpahere still have time to be accepted then go world Prison blocked /tpyes u not allow accepted teleport that world Because my server have prison and faction i can't set

[2017-07-11 15:10] Sandertv commented on #393
This is something that should not be managed by EssentialsPE. We can not change EssentialsPE in such ways that it's no longer usable by other servers.

[2017-07-11 15:10] #393 closed

[2017-07-13 14:43] Matthww opened #397 "Disable chat commands"
#### Description

Disable chat commands like /tell or /me whenever a person is muted

#### Versions

* PocketMine Version: api3/block commit: 83471aa
* EssentialsPE Version: 065949e

#### Crashdump or console errors

[code]

[2017-07-13 21:57] Matthww opened #398 "/lightning error"
#### Description

When using /lightning a error pops up in the console

#### Versions

* PocketMine Version: api3/blocks
* EssentialsPE Version: 065949e
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-07-14 23:17] Crypt97 opened #399 "tell/t/reply lookout permission [Future request]"
The point is to have permission for a particular staff to see what they write in a private message.

But if a bad idea please do not close it but help me

[2017-07-15 06:02] Sandertv commented on #399
Yep I've been thinking of this too. Will be added in the 3.0.0 rewrite.

[2017-07-15 14:24] #398 closed

[2017-07-16 12:26] Sandertv commented on #397
Yep, will be working on that in the EssentialsPE 3.0.0 rewrite. The structure of the current EssentialsPE is not ideal to implement this.

[2017-07-16 15:31] HimbeersaftLP commented on #397
If you add this, I would recommend setting a config option for that because some server owners may not like that....

[2017-07-16 15:51] Sandertv commented on #397
Yep, that's a good idea @HimbeersaftLP.

[2017-07-17 07:11] SuperKali opened #400 "PlayerJoinEvent error"
* PocketMine Version: I use GenisysPro 1.1
* EssentialsPE Version: 2.0.0
* Game Version: PE / Windows 10

[07:06:23] [Server thread/CRITICAL]: InvalidState
Exception: "Trying to get permissions of closed p
layer" (EXCEPTION) in "/src/pocketmine/Player" at
 line 689
[07:06:30] [Server thread/INFO]: [EssentialsPE] R
unning
[07:06:30] [Server thread/CRITICAL]: "Could not p
ass event 'pocketmine\event

[2017-07-17 07:38] Sandertv commented on #400
Unless you can confirm this happens on PocketMine too, I can't resolve your issue.

[2017-07-17 08:21] Matthww commented on #397
Config where you can disable a specific command if you are muted

[2017-07-17 14:10] MasterOfTheRealm commented on #400
No helping hand for forks? not even as a branch so changes won't affect PMMP?

[2017-07-17 16:31] Sandertv commented on #400
Through discussing with the team some time ago we have decided not to provide any support for forks and ignore their existance. I'm not going to waste my (already lacking) time on trying to support forks too.

[2017-07-18 05:27] DerddyDert commented on #400
@Sandertv I understand you and appreciate your work. Actually, I'm quite a fan of your work. However, GeniysPro is a direct decendant of Genisys in code as well as developers. Pocketmine, Genisys and Imagicalmine were some of the main legit servers back in the day. Imagicalmine has since died off. And spoons are a dime a dozen.

My point is Genisyspro team has been cleaning house, getting organize

[2017-07-18 06:00] Sandertv commented on #400
@DerddyDert as strict as it may sound, the rest of the team has decided to ignore the existance of forks. (Note, we could have voted to write code to explicitely disallow it from working on forks.) There's nothing I can do about that. I'm not going to write code just so that it doesn't work on GenisysPro, but I'm not going to change things to get it supported either. A very small change at max, bu

[2017-07-18 06:00] #400 closed

[2017-07-18 06:23] DerddyDert commented on #400
Thanks for your response. At least you are not pretentious like a lot of devs are becoming. Especially those trying to block spoons. That means the spoon devs have to disable/bypass the code at the core and/or fork the plugins and pull the anti-open-source-attitude code out. Where there is a demand, there is a market and PMMP just isn't cuttin' it as far as serving everyone with one spoon. (Its gr

[2017-07-20 13:17] dktapps commented on #400
That's bullshit. Shall I tell you how many Genisys developers work on that spoon? None. I know the Genisys developers (the real ones). I was a Genisys developer myself.

GenisysPro is no different to any other spoon out there. You can try and play it up like you're legit, but you're all full of crap trying to make a name for yourselves.

[2017-07-20 21:06] optimusprime338 opened #401 "Issues with latest api3/block branch"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

using EssentialsPE: Dev build #76  with PMMP #1243
console error:-
INFO Fatal error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, $alias, array $args): bool must be compatible with pocketmine\command

[2017-07-20 21:08] Sandertv commented on #401
https://github.com/LegendOfMCPE/EssentialsPE/tree/API3/blocks

[2017-07-20 21:08] #401 closed

[2017-07-21 13:29] optimusprime338 opened #402 "EssentialsPE #82 and PMMP #1243 not supporting"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

EssentialsPE #82 and PMMP #1243
"Argument 1 passed to pocketmine\plugin\PluginManager::getPermission() must be of the type string, integer given, called in phar:///PocketMine-MP.phar/src/pocketmine/permission/PermissibleBase.php on line 201" (EXC

[2017-07-21 13:49] Sandertv commented on #402
I cannot find the source of this issue. Does this error show up on startup, or does it happen on a different occasion? Also, the versions you've given are issue numbers, not commits. Could you please copy the git hash or commit link and paste them at the Versions section? Without those I cannot start resolving the issue.

[2017-07-21 14:02] optimusprime338 commented on #402
It crashing server on startup
link for versions which I am using are :- EssentialsPE:- https://poggit.pmmp.io/babs/6468 ,
PMMP:- https://poggit.pmmp.io/babs/6589

[2017-07-21 14:03] optimusprime338 commented on #402
I think git # is a32b760 for esstials and for PMMP is e39276a

[2017-07-21 14:25] Sandertv commented on #402
@optimusprime338 could you please set debug mode to 2 in the pocketmine.yml and give me the stack trace that shows up along with the error?

[2017-07-21 14:26] optimusprime338 commented on #402
ok

[2017-07-21 15:58] optimusprime338 commented on #402
2017-07-21 [09:56:08] [Server thread/INFO]: Enabling EssentialsPE v2.0.0
2017-07-21 [09:56:08] [Server thread/INFO]: [EssentialsPE] Loading...
2017-07-21 [09:56:08] [Server thread/DEBUG]: Running EssentialsPE's UpdateFetchTask
2017-07-21 [09:56:08] [Server thread/INFO]: [ZipPluginLoader] Enabling Slapper v1.3.5
2017-07-21 [09:56:08] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to pocket

[2017-07-21 16:02] optimusprime338 commented on #370
It happens when your set home world which is not loading automatically on server start.. I have faced this issue!

[2017-07-22 01:56] kenygamer commented on #370
@optimusprime338 for world auto-loading list your worlds on `worlds`, pocketmine.yml.

[2017-07-22 10:50] TaiXeko opened #403 "AFK BUGGGGGG"
Fatal error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, string $alias, array $args): bool must be compatible with pocketmine\command\Command::execute(pocketmine\command\CommandSender $sender, $commandLabel, array $args) in phar://C:/Users/Administrator/Desktop/SkyBlock/plugins/EssentialsPE.phar/src/EssentialsPE/Commands/AFK.php on line 10

[2017-07-22 10:59] Sandertv commented on #403
You're using an outdated PocketMine version.

[2017-07-22 10:59] #403 closed

[2017-07-22 11:03] TaiXeko commented on #403
Give me Link Please

Vào 22-07-2017 17:59, "Sandertv" <notifications@github.com> đã viết:

[2017-07-22 11:38] TaiXeko opened #404 "Error"
] Error: "Undefined class constant 'pocketmine\block\Block::SIGN_POST'" (EXCEPTION) in "/plugins/EssentialsPE.phar/src/EssentialsPE/Loader" at line 97
12:35:07 [INFO] Disabling EssentialsPE v2.0.0
12:35:07 [CRITICAL] TypeError: "Return value of EssentialsPE\Loader::getAPI() must be an instance of EssentialsPE\BaseFiles\BaseAPI, null returned" (EXCEPTION) in "/plugins/EssentialsPE.phar/src/Essentia

[2017-07-22 11:41] Sandertv commented on #404
Without knowing your PocketMine version, we can not resolve your issue. For the second time, the issue template is there so you can easily provide the required data.

[2017-07-22 11:41] #404 closed

[2017-07-22 11:45] TaiXeko commented on #404
Im update Ver ALPHA 6

Vào 22-07-2017 18:41, "Sandertv" <notifications@github.com> đã viết:

[2017-07-22 12:02] Sandertv commented on #404
https://github.com/LegendOfMCPE/EssentialsPE/tree/API3/blocks

[2017-07-22 15:11] ondraczsk opened #407 "AFK cmd bug"
#### Description

bug when start server
#### Versions

* PocketMine Version: genisys pro
* EssentialsPE Version: latest zip
* Game Version: PE+W10

#### Crashdump or console errors

EssentialsPE] Loading...

Fatal error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, string $alias, array $args): bool must be compatible with pocketmine\command\Command::e

[2017-07-22 15:17] Sandertv commented on #407
Please search the issue tracker for previous issue reports before submitting a new one. You're using an outdated PocketMine version. Please update your PocketMine version or download an older EssentialsPE version.

[2017-07-22 15:17] #407 closed

[2017-07-22 15:17] #402 closed

[2017-07-22 15:18] ondraczsk commented on #407
i have latest genisys

[2017-07-22 15:18] ondraczsk commented on #407
pro*

[2017-07-22 15:19] Sandertv commented on #407
GenisysPro is not supported here.

[2017-07-22 15:24] dktapps commented on #407
**claps slowly**

[2017-07-22 15:27] eDroiid commented on #407
^

[2017-07-22 16:30] optimusprime338 commented on #402
@Sandertv can have a version for api3/blocks branch???

[2017-07-29 22:01] ggomezz opened #408 ""Effect duration must be in range of 0-2147483647" Error when running /v or /vanish"
#### Description

I was searching for a build of this plugin that supported 3.0.0-ALPHA5. I searched the forums and found  a thread that referred me to the link listed below under "EssentialsPE Version:". I proceeded to download the zip file and convert it to a .phar file using "http://pmt.mcpe.fun/". I stopped my server, put the .phar into the plugins folder and initiated the server. I then joine

[2017-07-29 22:18] #408 closed

[2017-08-10 22:46] LightningCrafter opened #409 "Guests cannot use /warp command"
Ppl cannot use /warp

[2017-08-11 05:40] Sandertv commented on #409
This is intended. You're supposed to give them the `essentials.warp` permission, then `essentials.warps.<warpname>` for an individual warp, or `essentials.warps.*` for permission to all warps.

[2017-08-11 05:40] #409 closed

[2017-08-13 02:43] LightningCrafter opened #410 "Homes keep reseting and warps keep deleting"
is there a way to fix this ? everytime server restart warps keep deleting and homes too :/

[2017-08-13 06:05] Sandertv commented on #410
#370

[2017-08-13 06:05] #410 closed

[2017-08-14 19:12] Yvar192 commented on #409
I know this is invalid, but how do i give someone the permissions to warp?

[2017-08-14 19:21] Sandertv commented on #409
Read my comment please.

[2017-08-14 19:36] Yvar192 commented on #409
I did read it, but i am a noob. How do i do the stuff you said?

[2017-08-14 20:24] HimbeersaftLP commented on #409
@Yvar192 Use PurePerms (or any other permission manager of your choice if there is any)

[2017-08-22 16:42] vladadamov opened #411 "Critical error"
Error: Cannot use pocketmine\nbt\tag\Float as Float because 'Float' is a special class name
File: /plugin-886.phar/src/EssentialsPE/Loader
Line: 106
Type: E_COMPILE_ERROR

THIS CRASH WAS CAUSED BY A PLUGIN

Code:
[97] use pocketmine\level\Level;
[98] use pocketmine\level\Location;
[99] use pocketmine\level\Position;
[100] use pocketmine\math\AxisAlignedBB;
[101] use pocketmine\math\Vector3;
[102]

[2017-08-22 17:00] Sandertv commented on #411
Since you are using a third-party-modified variation of PocketMine-MP, this issue is considered invalid and will be closed.

This plugin is designed for [PocketMine-MP](https://github.com/pmmp/PocketMine-MP) and may not work correctly on third-party-modified variations of PocketMine-MP (henceforth referred to as Spoons).

We have made the decision not to provide any support for Spoons, due to the

[2017-08-22 17:00] #411 closed

[2017-08-31 10:24] optimusprime338 opened #412 "/heal command, must be instans of"
#### Description

heal command doest work

#### Versions

* PocketMine Version: 1.6.2 dev+poggit.1590
* EssentialsPE Version: 2.0.0
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

/lightning command show error too :
[code]

[2017-08-31 10:37] #412 closed

[2017-09-02 18:07] ZGamerOficial commented on #199
@kenygamer when you put /ignore <name> this will ignore player, you will not heard the player, (for vips is good, if you dont want for vips only and want for all no problem) like bukkit version for pc

[2017-09-03 00:14] kenygamer commented on #199
@ZGamerOficial Interesting. Make sure to add a brief description in your issue to know how the feature works.
#
Best Regards,
/ Kevin Andrews

[2017-09-05 12:22] PotatoeTrainYT opened #413 "Homes Reset On Player Leave"
**Homes Reset On Player Leaves**
Im Hosting A Factions Server And Im Almost Finished, Bit The Last Thing I Need To Do Is Working Homes! I Tried Out Your Homes Amd I Thought It Worked But When I Rejoined, My Homes Disappeared! Can You Possibly Fix This Thanks?

Im Using Newest Version Of EssentialsPE:
-05 [14:12:32] [Server thread/INFO]: [EssentialsPE] No new version found, you're using the latest

[2017-09-05 21:05] Sandertv commented on #413
Duplicate of #370

[2017-09-05 21:05] #413 closed

[2017-09-10 12:09] PotatoeTrainYT opened #415 "Broken"
Error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, string $alias, array $args): bool must be compatible with pocketmine\command\Command::execute(pocketmine\command\CommandSender $sender, $commandLabel, array $args)
File: /EssentialsPE.phar/src/EssentialsPE/Commands/AFK
Line: 10
Type: E_COMPILE_ERROR

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN : Ess

[2017-09-10 12:24] Sandertv commented on #415
Without providing the information requested in the issue template, we cannot help resolve your issue.

[2017-09-10 12:24] #415 closed

[2017-09-10 13:25] PotatoeTrainYT opened #416 "Broken"
I Installed The Latest Version Of EssentialsPE On My Server, And It Instantly Crashed! If You Can Fix, Heres The Crash Log:

Error: Declaration of EssentialsPE\Commands\AFK::execute(pocketmine\command\CommandSender $sender, string $alias, array $args): bool must be compatible with pocketmine\command\Command::execute(pocketmine\command\CommandSender $sender, $commandLabel, array $args)
File: /Essen

[2017-09-10 13:55] #416 closed

[2017-09-19 12:55] AffanStarPure commented on #370
I have heard about this happen but I not sure because delete world can reset home even warp too
There don't reset when i Restart server everything fine only delete world i only know

[2017-09-19 13:32] Sandertv commented on #370
Got it @AffanStarPure, thanks.

[2017-09-21 11:36] optimusprime338 opened #417 "explode() expects parameter 2 to be string and return type error!"
PocketMine-MP 1.7dev-51
#### Description

[code]

#### Versions

* PocketMine Version: 1.7dev-51
* EssentialsPE Version: https://github.com/LegendOfMCPE/EssentialsPE/commit/c60ddbefbf0b15ced728c05dfdad1eb7af933a9e
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-09-21 12:36] #417 closed

[2017-09-22 19:29] BlawoHD opened #418 "Not working for BlueLight"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-09-22 20:06] Sandertv commented on #418
Since you are using a third-party-modified variation of PocketMine-MP, this issue is considered invalid and will be closed.

This plugin is designed for [PocketMine-MP](https://github.com/pmmp/PocketMine-MP) and may not work correctly on third-party-modified variations of PocketMine-MP (henceforth referred to as Spoons).

We have made the decision not to provide any support for Spoons, due to the

[2017-09-22 20:06] #418 closed

[2017-09-24 16:22] BlawoHD opened #419 "Homes not working"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-09-25 17:23] #419 closed

[2017-09-26 18:57] BlawoHD opened #421 "Gamemode Not working"
#### Description

@Sandertv can you fix this?

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-09-26 19:00] #421 closed

[2017-09-26 20:13] TheShinPin opened #422 "Error when changing gamemode."
#### Description

#### Versions

* PocketMine Version:New dev98 API 3.0.0-ALPHA8
* EssentialsPE Version:ab677f29236535d077130e6e96ea3c94636e5438
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-09-26 20:18] #422 closed

[2017-10-01 01:44] QuiverlyRivalry opened #423 "warps broken"
#### Description
i do /createwarp shop works for 2 mins, after that
 warp never existed

#### Versions

* PocketMine Version: latest alpha 8
* EssentialsPE Version: latest from poggit
* Game Version: PE / Windows 10 PE

#### Crashdump or console errors

[code]

[2017-10-01 06:48] Sandertv commented on #423
Do you have any idea on when this happens? Do you somehow unload worlds, see any errors?

[2017-10-01 10:28] QuiverlyRivalry commented on #423
No errors,
Warps work for the first 2 minutes, then suddenly when i warp again it says warp not found i do /warps and it shows the warp but thinks it doesnt exist

[2017-10-01 10:30] Sandertv commented on #423
Okay so it does show up in the /warps list but not when you try to warp to it?

[2017-10-01 10:39] QuiverlyRivalry commented on #423
yep, if u want u can test it on my server

[2017-10-01 10:39] #423 closed

[2017-10-01 16:45] nikipuh opened #424 "PTIME & VANISH"
#### Description
The commands /ptime and /vanish doesn't work properly.

Vanish - Bubbles
Ptime - time changes back after seconds

#### Versions
* PocketMine Version: 3.0.0-ALPHA8
* EssentialsPE Version: Actual (01.10.2017)
* Game Version: PE / Windows 10 - tested on both

[2017-10-01 22:16] TheShinPin opened #425 "Kit compatibility"
Any way to disable kits?
I use advanced kits which I do think is better. In the plugin Grab Bad you can disable each command by themselves.

[2017-10-02 05:02] Sandertv commented on #425
This can not be cleanly implemented in the current version of EssentialsPE and has been made so you can disable any command in the rewrite. The rewrite is currently lacking a lot of features however.

[2017-10-02 21:44] Sandertv commented on #424
For the second issue; I can sadly not fix this. I ought to remove the feature as it's impossible to implement due to time sending every tick in the server software. I'll look into the bubbles.

[2017-10-05 19:07] QuanFromChina opened #427 "NYCU PE BUY QUANFROMCHINAS ! SECRET MATH DISCOVERED !"
SECRET MATH DISCOVER MAKE DERTDERRDY 35% OPTMIZE ! GENISYS PRO WIN !

[2017-10-05 19:20] #427 closed

[2017-10-06 19:04] EssentialsPEguideByBetty opened #429 "DKTAPPS SELL PMMP FOR PROFIT ! GENISYS PRO WILL WIN"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-10-06 19:04] EssentialsPEguideByBetty opened #430 "DERTDADDY DISCOVER MATH TO OPTIMIZE ESSENTIALS PE FOR GENISYTS PRO ONLY !"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-10-11 14:47] Akuroma opened #431 "[Feature Request] Add MySQL Support"
#### Description
Maybe you could add a MySQL-Support to save homes, nicks and so on in a MySQL-Database.

[2017-10-15 17:23] S3nS3IW00 opened #432 "Errors. Essentials not work!"
#### Description

Essentials is Red in plugin list(/pl)

#### Versions

* PocketMine Version: 1.12
* EssentialsPE Version: Latest on github.
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2017-10-15 17:54] jasonwynn10 commented on #432
lmao how did you even get the first error?

[2017-10-15 18:03] Sandertv commented on #432
Yeah... no. This plugin is not going to work on whatever modified version of PocketMine you're using.

[2017-10-15 18:03] #432 closed

[2017-10-15 18:09] jasonwynn10 commented on #432
I'd say outdated php with updated PocketMine

[2017-10-15 18:16] S3nS3IW00 commented on #432
Oh it is really sad :/ Which server file is better or the best?

[2017-10-15 18:47] Sandertv commented on #432
I recommend you to update your PHP to 7.2 and use one of the latest builds of PocketMine.

[2017-10-15 18:54] S3nS3IW00 commented on #432
Thank you.

[2017-10-21 10:46] andris155 opened #433 "seen command error"
#### Description

seen command error

#### Versions

* PocketMine Version: This server is running PocketMine-MP 1.7dev 「[REDACTED]」 implementing API version 3.0.0-ALPHA9 for Minecraft: PE v1.2.0.81 (protocol version 137)
* EssentialsPE Version: https://github.com/LegendOfMCPE/EssentialsPE/commit/933fb1de22f3b9694829069166811864225e0db7

#### Crashdump or console errors

[code]

[2017-10-21 19:10] andris155 opened #434 "/afk name getPermissionMessage() error"
#### Description

/afk name getPermissionMessage() error

#### Versions

* PocketMine Version: This server is running PocketMine-MP 1.7dev 「[REDACTED]」 implementing API version 3.0.0-ALPHA9 for Minecraft: PE v1.2.0.81 (protocol version 137)
* EssentialsPE Version: https://github.com/LegendOfMCPE/EssentialsPE/commit/933fb1de22f3b9694829069166811864225e0db7

#### Crashdump or console errors

[code]

[2017-10-21 19:12] andris155 opened #435 "/top getHighestBlockAt() error"
#### Description

/top getHighestBlockAt() error

#### Versions

* PocketMine Version: This server is running PocketMine-MP 1.7dev 「[REDACTED]」 implementing API version 3.0.0-ALPHA9 for Minecraft: PE v1.2.0.81 (protocol version 137)
* EssentialsPE Version: https://github.com/LegendOfMCPE/EssentialsPE/commit/933fb1de22f3b9694829069166811864225e0db7

#### Crashdump or console errors

[code]

[2017-10-21 19:14] andris155 opened #436 "/gms, /gmc error"
#### Description

/gms, /gmc error

#### Versions

* PocketMine Version: This server is running PocketMine-MP 1.7dev 「[REDACTED]」 implementing API version 3.0.0-ALPHA9 for Minecraft: PE v1.2.0.81 (protocol version 137)
* EssentialsPE Version: https://github.com/LegendOfMCPE/EssentialsPE/commit/933fb1de22f3b9694829069166811864225e0db7

#### Crashdump or console errors

[code]

[2017-10-23 20:30] #436 closed

[2017-10-23 20:30] #435 closed

[2017-10-24 13:05] NycuRO opened #439 "top error :("
[15:04:50] [Server thread/CRITICAL]: Unhandled exception executing command 'top' in top: Argument 1 passed to pocketmine\level\Level::getHighestBlockAt() must be of the type integer, float given, called in /home/opfactions/plugins/EssentialsPE-master/src/EssentialsPE/Commands/Top.php on line 38
[15:04:50] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to pocketmine\level\Level::getHighest

[2017-10-24 13:06] NycuRO commented on #423
For fix you need use /save-all and restart server and that fixed.

[2017-10-24 13:13] #439 closed

[2017-10-28 21:11] NycuRO opened #440 "Messages"
Can you create one file "messages.yml" when you add all messages of commands?
I want translate and i can't, only if i decompile plugin.

[2017-11-02 08:20] djdisodo opened #441 "plz support special players like @a @p"
plz support special players like @a @p

[2017-11-02 09:34] SOF3 commented on #441
This should be done as an individual plugin that overrides this for every other command.

[2017-11-12 12:56] NycuRO opened #442 "Alpha9"
Update?

[2017-11-13 14:27] ghost opened #443 "Issue"
[15:26:37] [Server thread/INFO]: [CommandShow] NycuR0 > /gmc
[15:26:37] [Server thread/CRITICAL]: Unhandled exception executing command 'gmc' in gamemode: Undefined variable: gmstring
[15:26:37] [Server thread/CRITICAL]: ErrorException: "Undefined variable: gmstring" (EXCEPTION) in "EssentialsPE-master/src/EssentialsPE/Commands/Override/Gamemode" at line 118

[2017-11-13 15:13] ghost opened #444 "Home isn't saved when you exit from server."
If i set one home and i exit from server, he doesn't saved.

[2017-11-18 22:15] Tumeden opened #445 "Free sign?"
https://i.gyazo.com/0eba947e1f2158cbf3b3a74a2599446a.png

Anyone can make a free sign, why?

[2017-11-18 22:17] Tumeden commented on #311
https://i.gyazo.com/0eba947e1f2158cbf3b3a74a2599446a.png

[2017-11-23 18:35] #441 closed

[2017-11-30 17:34] #444 closed, assigned to nobody

[2017-12-03 19:51] jrodr10 opened #449 "Feature Request"
essentials.sethome.multiple.<1-100>

[2017-12-09 21:24] DarkkzMC opened #452 "-=Kit Enchantment Request=-"
I would like to request to make kits with enchantments. I would Love this plugin even more

[2017-12-10 00:06] jrodr10 commented on #445
Remove free signs

[2018-01-11 20:22] llronaldoll opened #454 "how to change the nick of another player?"
What is the command to change the nick of another player?

[2018-01-17 22:25] tiNsLeY799 commented on #454
/nick <new nick|off> <player>

[2018-01-18 08:40] Sandertv commented on #454
/nick <new nick> [player]

[2018-01-18 08:40] #454 closed

[2018-01-21 13:33] Adam1609 opened #455 "Using command without Permissions (Priority: Medium)"
#### Description

Person who don't have 'essentials.fly.use' or 'essentials.fly' can use fly without permissions
#### Versions

* PocketMine Version: 1.7dev-634
* EssentialsPE Version: 2.0.0
* Game Version: PE

#### Crashdump or console errors

[code]

[2018-03-01 22:50] BlawoHD opened #457 "Fix /repair command"
#### Description

Items not repairing
#### Versions

* PocketMine Version: https://github.com/pmmp/PocketMine-MP/commit/9d018e8d9efd0cea59c8a96e26c5fde7c316b10b
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2018-03-01 22:50] BlawoHD commented on #457
@Sandertv Can you Fix this?

[2018-03-20 18:09] HiBiQ opened #458 "S"
#### Description

#### Versions

* PocketMine Version:
* EssentialsPE Version:
* Game Version: PE / Windows 10

#### Crashdump or console errors

[code]

[2018-03-28 17:30] SuperAlecs commented on #457
Same problem and the console says this: (I hope someone will fix this)

[18:26:44] [Server thread/CRITICAL]: Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'EssentialsPE v2.0.0': Call to undefined method pocketmine\inventory\PlayerInventory::getArmorContents() on EssentialsPE\EventHandlers\SignEvents
[18:26:44] [Server thread/CRITICAL]: Error: "Call to undefined method pocke

[2018-03-30 13:08] #434 closed